:root {
  /* fonts */
  --bold-40px: Mulish;
  --components-button-large: Roboto;
  --font-baloo-bhai: "Baloo Bhai";

  /* font sizes */
  --font-size-10xs: 8.97px;
  --font-size-9xs: 9.72px;
  --font-size-8xs: 10px;
  --font-size-7xs: 10.47px;
  --font-size-6xs: 11.96px;
  --font-size-5xs: 11.21px;
  --regular-12px-size: 12px;
  --font-size-3xs: 13.46px;
  --ant-body-medium-size: 14px;
  --font-size-xs: 14.95px;
  --components-button-large-size: 15px;
  --regular-16px-size: 16px;
  --font-size-lg: 16.45px;
  --font-size-xl: 17.94px;
  --font-size-2xl: 18px;
  --bold-19px-size: 19px;
  --font-size-4xl: 20px;
  --font-size-5xl: 22px;
  --font-size-6xl: 22.43px;
  --font-size-7xl: 23.92px;
  --font-size-8xl: 24px;
  --font-size-9xl: 25px;
  --font-size-10xl: 28.41px;
  --font-size-11xl: 36px;
  --bold-40px-size: 40px;

  /* Colors */
  --gray-100: #f8f9fa;
  --color-gray-200: #f7f8fc;
  --components-accordion-active-item-header-background: #e7f1ff;
  --gray-200: #e9ecef;
  --color-gray-500: #eaeaea;
  --main-lightblue: #dde2ff;
  --grayscale-divider: #dfe0eb;
  --theme-border: #dee2e6;
  --color-gray-900: #e0e0e0;
  --color-gray-1000: #ccdcec;
  --gray-400: #ced4da;
  --grayscale-gray-light: #c5c7cd;
  --color-gray-1300: #bdbdbd;
  --gray-500: #adb5bd;
  --components-input-focused-border: #86b7fe;
  --color-gray-1600: #a4a6b3;
  --color-gray-1700: #9fa2b4;
  --blue-300: #6ea8fe;
  --color-gray-1900: #999;
  --color-gray-2000: #8e8e94;
  --theme-secondary: #6c757d;
  --color-gray-2200: #616161;
  --color-gray-2300: #1262af;
  --color-gray-2400: #1262ae;
  --grayscale-gray-dark: #4b506d;
  --color-gray-2600: #424242;
  --color-gray-2700: #263f6b;
  --color-gray-2800: #303030;
  --grayscale-black: #252733;
  --body-text-body-color: #212529;
  --color-gray-3100: rgba(0, 0, 0, 0.6);
  --color-gray-3200: rgba(0, 0, 0, 0.87);
  --color-gray-3300: rgba(226, 226, 226, 0.1);
  --other-outlined-border: rgba(0, 0, 0, 0.23);
  --components-popover-border: rgba(0, 0, 0, 0.2);
  --color-gray-3600: rgba(37, 39, 51, 0.9);
  --components-checkbox-border: rgba(0, 0, 0, 0.15);
  --hitbox: rgba(255, 255, 255, 0);
  --background-paper: #fff;
  --main-blue: #3751ff;
  --color-red: #ff3737;
  --theme-danger: #dc3545;
  --theme-primary: #0d6efd;
  --components-accordion-active-item-header-text-color: #0c63e4;
  --blue-600: #0a58ca;
  --gray-black: #000;
  --theme-success: #198754;
  --color-teal-200: #0f5132;
  --theme-warning: #ffc107;
  --components-alert-success-background: #d1e7dd;
  --components-alert-success-border: #badbcc;
  --color-orange-100: #f99a0e;

  /* Gaps */
  --gap-0: 0px;
  --gap-9xs: 2.24px;
  --gap-8xs: 4px;
  --gap-7xs: 4.49px;
  --gap-6xs: 5.98px;
  --gap-5xs: 7.48px;
  --gap-4xs: 8px;
  --gap-3xs: 8.22px;
  --gap-2xs: 9.6px;
  --gap-xs: 10px;
  --gap-sm: 12px;
  --gap-md: 14px;
  --gap-lg: 14.95px;
  --gap-xl: 16px;
  --gap-2xl: 17.19px;
  --gap-3xl: 17.94px;
  --gap-4xl: 20px;
  --gap-5xl: 22.43px;
  --gap-6xl: 26.91px;
  --gap-7xl: 30px;
  --gap-8xl: 48px;
  --gap-9xl: 50px;
  --gap-10xl: 166px;

  /* Paddings */
  --padding-18xs: 1px;
  --padding-17xs: 2px;
  --padding-16xs: 2.9901583194732666px;
  --padding-15xs: 2.2426187992095947px;
  --padding-14xs: 3px;
  --padding-13xs: 3.7376978397369385px;
  --padding-12xs: 4px;
  --padding-11xs: 4.4852375984191895px;
  --padding-10xs: 5px;
  --padding-9xs: 5.25px;
  --padding-8xs: 5.980316638946533px;
  --padding-7xs: 6px;
  --padding-6xs: 6.300000190734863px;
  --padding-5xs: 7.349999904632568px;
  --padding-4xs: 7px;
  --padding-3xs: 8px;
  --padding-2xs: 8.399999618530273px;
  --padding-xs: 8.970474243164062px;
  --padding-sm: 9.75px;
  --padding-md: 9px;
  --padding-lg: 9.71801471710205px;
  --padding-xl: 10px;
  --padding-2xl: 11.699999809265137px;
  --padding-3xl: 11.213094711303711px;
  --padding-4xl: 11.960633277893066px;
  --padding-5xl: 12px;
  --padding-6xl: 13.649999618530273px;
  --padding-7xl: 13px;
  --padding-8xl: 14px;
  --padding-9xl: 14.950791358947754px;
  --padding-10xl: 15.600000381469727px;
  --padding-11xl: 16px;
  --padding-12xl: 20px;
  --padding-13xl: 22px;
  --padding-14xl: 24px;
  --padding-15xl: 30px;
  --padding-16xl: 40px;
  --padding-17xl: 59.803165435791016px;
  --padding-18xl: 92px;

  /* border radiuses */
  --br-6xs: 2px;
  --br-5xs: 2.99px;
  --br-4xs: 3.2px;
  --br-3xs: 3px;
  --br-2xs: 4px;
  --br-xs: 4.8px;
  --br-sm: 5px;
  --br-md: 7.48px;
  --br-lg: 8px;
  --br-xl: 11.96px;
  --br-2xl: 23.17px;
  --br-3xl: 47.84px;
  --br-4xl: 100px;
  --br-5xl: 999px;

  /* Effects */
  --regular-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  --border-divider-divider: 0px 1px 0px rgba(0, 0, 0, 0.13) inset;
  --ant-border-divider-divider: 0px -1px 0px #f0f0f0 inset;
  --active-shadow-outline-primary: 0px 0px 0px 4px rgba(13, 110, 253, 0.25);
  --border-divider-divider-: 1px 0px 0px rgba(0, 0, 0, 0.13) inset;
}
