body {
  margin: 0;
  line-height: normal;
}
.bg-icon16 {
  position: absolute;
  height: 100%;
  width: calc(100% - 255px);
  top: 0;
  right: -23px;
  bottom: 0;
  left: 278px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cards-default40,
.sheet55 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.sheet55 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-lg);
  background-color: var(--background-paper);
  border: 1px solid var(--grayscale-divider);
  box-sizing: border-box;
}
.cards-default40 {
  height: 134px;
}
.b6,
.on-hold2 {
  position: absolute;
  width: calc(100% - 64px);
  top: 24px;
  left: 32px;
  letter-spacing: 0.4px;
  display: inline-block;
}
.b6 {
  top: 60px;
  font-size: var(--bold-40px-size);
  letter-spacing: 1px;
  color: var(--grayscale-black);
}
.open3,
.unresolved3 {
  position: absolute;
  width: calc(100% - 864px);
  top: -7px;
  height: 134px;
}
.unresolved3 {
  right: 855px;
  left: 9px;
  cursor: pointer;
}
.open3 {
  right: 289px;
  left: 575px;
}
.cards-default42,
.sheet57 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.sheet57 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-lg);
  background-color: var(--background-paper);
  border: 1px solid var(--color-red);
  box-sizing: border-box;
}
.cards-default42 {
  height: 134px;
  cursor: pointer;
}
.cards2,
.open4 {
  position: absolute;
  width: calc(100% - 864px);
  top: -7px;
  right: 572px;
  left: 292px;
  height: 134px;
}
.cards2 {
  width: calc(100% - 318px);
  top: 108px;
  right: -107px;
  left: 425px;
  text-align: center;
  font-size: var(--bold-19px-size);
  color: var(--color-gray-1700);
}
.ignore2082 {
  position: relative;
  width: 0;
  height: 0;
  flex-shrink: 0;
}
.height-change-size-here423,
.width-change-size-here425 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.height-change-size-here423 {
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.icon-wrapper672 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-wrapper-h425 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.icon-wrapper-h425,
.icon-wrapper671,
.wrapper107 {
  display: flex;
  align-items: center;
}
.icon-wrapper671 {
  background-color: var(--hitbox);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.wrapper107 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.avatar20 {
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
  border-radius: var(--br-5xl);
  background-color: var(--gray-500);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.name24 {
  position: absolute;
  top: calc(50% - 3px);
  right: 72px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 109px;
  height: 18px;
}
.divider-line-vertical16,
.icon-notifications-new16 {
  position: absolute;
  top: calc(50% - 8px);
  right: 208.5px;
  width: 1px;
  height: 32px;
}
.icon-notifications-new16 {
  right: 228px;
  width: 59px;
  height: 33px;
}
.header-default16 {
  position: absolute;
  width: calc(100% - 305px);
  top: 30px;
  right: 27px;
  left: 278px;
  height: 44px;
}
.selected24,
.sheet-icon21 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.sheet-icon21 {
  width: 100%;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.08;
}
.selected24 {
  background-color: var(--main-lightblue);
  width: 3px;
}
.title164 {
  position: absolute;
  width: calc(100% - 96px);
  top: calc(50% - 10px);
  left: 72px;
  letter-spacing: 0.2px;
  display: inline-block;
  cursor: pointer;
}
.icon-sidebar-active-1-o3 {
  position: absolute;
  top: calc(50% - 8px);
  left: 32px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.sidebar-list-active23 {
  position: absolute;
  top: 128px;
  left: 0;
  width: 255px;
  height: 56px;
  color: var(--main-lightblue);
}
.sidebar-list-inactive39 {
  position: absolute;
  top: 184px;
  left: 0;
  width: 255px;
  height: 56px;
  cursor: pointer;
}
.title166 {
  position: absolute;
  width: calc(100% - 96px);
  top: calc(50% - 10px);
  left: 72px;
  letter-spacing: 0.2px;
  display: inline-block;
}
.sidebar-list-inactive40 {
  position: absolute;
  top: 235px;
  left: 0;
  width: 255px;
  height: 56px;
  cursor: pointer;
}
.title167 {
  position: absolute;
  top: 514px;
  left: 72px;
  letter-spacing: 0.2px;
  display: inline-block;
  width: 159px;
}
.sidebar-list-inactive41 {
  position: absolute;
  top: 496px;
  left: 0;
  width: 255px;
  height: 56px;
}
.icon-sidebar-inactive-a-16 {
  position: absolute;
  top: 515px;
  left: 32px;
  width: 16px;
  height: 19px;
  overflow: hidden;
}
.divider-line-horizontal102 {
  position: absolute;
  top: 479.5px;
  left: 0;
  width: 255px;
  height: 1px;
  opacity: 0.06;
}
.sidebar-desktop16 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-2700);
  width: 255px;
  height: 608px;
  overflow: hidden;
  color: var(--color-gray-1600);
}
.image-1-icon19 {
  position: absolute;
  top: 30px;
  left: 23px;
  width: 209px;
  height: 40px;
  object-fit: cover;
}
.filter17 {
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.icon-filter8 {
  position: absolute;
  top: 1px;
  right: 42px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.filter16 {
  position: absolute;
  top: 0;
  right: 318px;
  width: 58px;
  height: 20px;
  color: var(--grayscale-gray-dark);
}
.icon-sort8 {
  position: absolute;
  top: 1px;
  right: 37px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.sort16 {
  position: absolute;
  top: 0;
  right: 386px;
  width: 53px;
  height: 20px;
  color: var(--grayscale-gray-dark);
}
.sheet58 {
  position: absolute;
  height: calc(100% - 37px);
  width: calc(100% - 317px);
  top: 37px;
  right: 317px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--background-paper);
  border: 1px solid var(--grayscale-divider);
  box-sizing: border-box;
}
.date-customer40 {
  top: calc(50% + 4.04px);
  right: 0;
  letter-spacing: 0.1px;
  line-height: 16px;
  display: inline-block;
  height: 16.15px;
}
.content84,
.customer-name46,
.date-customer40 {
  position: absolute;
  width: 198.2px;
}
.customer-name46 {
  top: calc(50% - 20.18px);
  right: 0;
  font-size: var(--ant-body-medium-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 600;
  color: var(--grayscale-black);
  display: inline-block;
  height: 20.18px;
}
.content84 {
  top: calc(50% - 176.02px);
  right: 1080.5px;
  height: 40.37px;
  font-size: var(--regular-12px-size);
  color: var(--grayscale-gray-light);
}
.date-label40,
.date-label41 {
  position: absolute;
  top: calc(50% - 99.57px);
  right: 0;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 515.67px;
  height: 20.18px;
}
.date-label41 {
  top: calc(50% - 182.33px);
}
.date-customer41,
.date-customer42,
.date-customer43 {
  position: absolute;
  top: calc(50% - 79.82px);
  right: 512.86px;
  font-size: var(--regular-12px-size);
  letter-spacing: 0.1px;
  line-height: 16px;
  color: var(--grayscale-gray-light);
  display: inline-block;
  width: 766.14px;
  height: 16.15px;
}
.date-customer42,
.date-customer43 {
  top: calc(50% + 1.18px);
  right: 516.86px;
}
.date-customer43 {
  top: calc(50% + 166.18px);
  right: 518.86px;
}
.customer-name47,
.customer-name48,
.customer-name49 {
  position: absolute;
  top: calc(50% - 101.82px);
  right: 490px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 792px;
  height: 20px;
}
.customer-name48,
.customer-name49 {
  top: calc(50% - 17.82px);
  right: 516.86px;
  width: 766.14px;
  height: 20.18px;
}
.customer-name49 {
  top: calc(50% + 149.18px);
  right: 520.86px;
}
.content85 {
  position: absolute;
  top: calc(50% - 174px);
  right: 0;
  width: 1287px;
  height: 364.65px;
}
.date-label42,
.date-label43 {
  position: absolute;
  top: calc(50% + 22.85px);
  right: 433px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 83px;
  height: 20px;
}
.date-label43 {
  top: calc(50% - 51px);
  right: 0;
  width: 515.95px;
  height: 20.18px;
}
.customer-name50,
.date-customer44 {
  position: absolute;
  display: inline-block;
  width: 766.56px;
}
.date-customer44 {
  top: calc(50% + 34.85px);
  right: 515.44px;
  font-size: var(--regular-12px-size);
  letter-spacing: 0.1px;
  line-height: 16px;
  color: var(--grayscale-gray-light);
  height: 16.15px;
}
.customer-name50 {
  top: calc(50% + 12.85px);
  right: 516.44px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 600;
  height: 20.18px;
}
.content86 {
  position: absolute;
  top: calc(50% + 5.64px);
  right: 0;
  width: 1283px;
  height: 102px;
}
.date-label44,
.date-label45 {
  position: absolute;
  top: calc(50% + 252.5px);
  right: 441px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 82px;
  height: 21px;
}
.date-label45 {
  top: calc(50% + 167.5px);
  right: 447px;
  width: 76px;
  height: 20px;
}
.customer-name51,
.date-customer45 {
  position: absolute;
  right: 552.26px;
  display: inline-block;
  width: 734.74px;
}
.date-customer45 {
  top: calc(50% + 267.5px);
  font-size: var(--regular-12px-size);
  letter-spacing: 0.1px;
  line-height: 16px;
  color: var(--grayscale-gray-light);
  height: 16.15px;
}
.customer-name51 {
  top: calc(50% + 243.5px);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 600;
  height: 20.18px;
}
.divider-line-horizontal103 {
  position: absolute;
  width: calc(100% - 868.95px);
  right: 868px;
  bottom: 334.06px;
  left: 0.95px;
  height: 0;
}
.divider-line-horizontal104,
.divider-line-horizontal105 {
  position: absolute;
  width: calc(100% - 318.95px);
  right: 318px;
  bottom: 432.47px;
  left: 0.95px;
  max-width: 100%;
  overflow: hidden;
  height: 3.53px;
}
.divider-line-horizontal105 {
  width: calc(100% - 329px);
  bottom: 352.38px;
  left: 11px;
  height: 4.12px;
}
.divider-line-horizontal106,
.divider-line-horizontal107,
.divider-line-horizontal108 {
  position: absolute;
  width: calc(100% - 257.95px);
  right: 253.95px;
  bottom: 271.28px;
  left: 4px;
  max-width: 100%;
  overflow: hidden;
  height: 4.22px;
}
.divider-line-horizontal107,
.divider-line-horizontal108 {
  bottom: 189.03px;
  height: 3.47px;
}
.divider-line-horizontal108 {
  bottom: 100.28px;
  height: 4.22px;
}
.recent-requests2 {
  position: absolute;
  width: calc(100% - 931.84px);
  top: 49px;
  left: 26px;
  font-size: var(--bold-19px-size);
  letter-spacing: 0.4px;
  display: inline-block;
  height: 24.22px;
}
.group-div17 {
  position: absolute;
  top: 263px;
  right: -230px;
  width: 1313px;
  height: 635px;
  font-size: var(--ant-body-medium-size);
}
.provider-overview2 {
  position: relative;
  background-color: var(--color-gray-2700);
  width: 100%;
  height: 979px;
  overflow: hidden;
  text-align: left;
  font-size: var(--regular-16px-size);
  color: var(--grayscale-black);
  font-family: var(--bold-40px);
}
