{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Register.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="register">
      <div class="log-in">
        <div class="group-div1">
          <div class="content3">
            <div class="form">
              <div class="form-item">
                <div class="label">
                  <div class="texttext"><div class="text">First Name</div></div>
                  <div class="required"><div class="text">*</div></div>
                </div>
                <div class="input">
                  <div class="input-base">
                    <div class="placeholder">
                      <div class="input-prefix">
                        <div class="icon">
                          <div class="width-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <div class="icon-wrapper-h1">
                            <div class="height-change-size-here1">
                              <div class="ignore4"></div>
                              <div class="ignore4"></div>
                            </div>
                            <img
                              class="icon-wrapper3"
                              alt=""
                              src="{% static 'css/public/iconwrapper1.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="text">Enter your first name</div>
                    </div>
                    <div class="spacer">
                      <div class="ignore4"></div>
                      <div class="ignore4"></div>
                    </div>
                    <div class="input-prefix">
                      <div class="icon">
                        <div class="width-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <div class="icon-wrapper-h1">
                          <div class="height-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <img
                            class="icon-wrapper3"
                            alt=""
                            src="{% static 'css/public/iconwrapper2.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item1">
                <div class="label">
                  <div class="texttext">
                    <div class="text">Contract Number</div>
                  </div>
                  <div class="required"><div class="text">*</div></div>
                </div>
                <div class="input">
                  <div class="input-base">
                    <div class="placeholder">
                      <div class="input-prefix">
                        <div class="icon">
                          <div class="width-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <div class="icon-wrapper-h1">
                            <div class="height-change-size-here1">
                              <div class="ignore4"></div>
                              <div class="ignore4"></div>
                            </div>
                            <img
                              class="icon-wrapper3"
                              alt=""
                              src="{% static 'css/public/iconwrapper1.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="text">Enter contract number</div>
                    </div>
                    <div class="spacer">
                      <div class="ignore4"></div>
                      <div class="ignore4"></div>
                    </div>
                    <div class="input-prefix">
                      <div class="icon">
                        <div class="width-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <div class="icon-wrapper-h1">
                          <div class="height-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <img
                            class="icon-wrapper3"
                            alt=""
                            src="{% static 'css/public/iconwrapper4.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item2">
                <div class="label">
                  <div class="texttext"><div class="text">Password</div></div>
                  <div class="required"><div class="text">*</div></div>
                </div>
                <div class="password">
                  <div class="input2">
                    <div class="input-base">
                      <div class="placeholder">
                        <div class="input-prefix">
                          <div class="icon">
                            <div class="width-change-size-here1">
                              <div class="ignore4"></div>
                              <div class="ignore4"></div>
                            </div>
                            <div class="icon-wrapper-h1">
                              <div class="height-change-size-here1">
                                <div class="ignore4"></div>
                                <div class="ignore4"></div>
                              </div>
                              <img
                                class="icon-wrapper3"
                                alt=""
                                src="{% static 'css/public/iconwrapper1.svg' %}"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="text">Password</div>
                      </div>
                      <div class="spacer2">
                        <div class="ignore4"></div>
                        <div class="ignore4"></div>
                      </div>
                      <div class="input-suffix2">
                        <div class="icon">
                          <div class="width-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <div class="icon-wrapper-h1">
                            <div class="height-change-size-here1">
                              <div class="ignore4"></div>
                              <div class="ignore4"></div>
                            </div>
                            <img
                              class="icon-wrapper3"
                              alt=""
                              src="{% static 'css/public/iconwrapper6.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-item3">
              <div class="label">
                <div class="texttext"><div class="text">Email</div></div>
                <div class="required"><div class="text">*</div></div>
              </div>
              <div class="input">
                <div class="input-base">
                  <div class="placeholder">
                    <div class="input-prefix">
                      <div class="icon">
                        <div class="width-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <div class="icon-wrapper-h1">
                          <div class="height-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <img
                            class="icon-wrapper3"
                            alt=""
                            src="{% static 'css/public/iconwrapper1.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="text">Enter your email</div>
                  </div>
                  <div class="spacer">
                    <div class="ignore4"></div>
                    <div class="ignore4"></div>
                  </div>
                  <div class="input-prefix">
                    <div class="icon">
                      <div class="width-change-size-here1">
                        <div class="ignore4"></div>
                        <div class="ignore4"></div>
                      </div>
                      <div class="icon-wrapper-h1">
                        <div class="height-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <img
                          class="icon-wrapper3"
                          alt=""
                          src="{% static 'css/public/iconwrapper8.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-item4">
          <div class="label">
            <div class="texttext"><div class="text">Passwordd</div></div>
            <div class="required"><div class="text">*</div></div>
          </div>
          <div class="password">
            <div class="input2">
              <div class="input-base">
                <div class="placeholder">
                  <div class="input-prefix">
                    <div class="icon">
                      <div class="width-change-size-here1">
                        <div class="ignore4"></div>
                        <div class="ignore4"></div>
                      </div>
                      <div class="icon-wrapper-h1">
                        <div class="height-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <img
                          class="icon-wrapper3"
                          alt=""
                          src="{% static 'css/public/iconwrapper1.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="text">Password</div>
                </div>
                <div class="spacer2">
                  <div class="ignore4"></div>
                  <div class="ignore4"></div>
                </div>
                <div class="input-suffix2">
                  <div class="icon">
                    <div class="width-change-size-here1">
                      <div class="ignore4"></div>
                      <div class="ignore4"></div>
                    </div>
                    <div class="icon-wrapper-h1">
                      <div class="height-change-size-here1">
                        <div class="ignore4"></div>
                        <div class="ignore4"></div>
                      </div>
                      <img
                        class="icon-wrapper3"
                        alt=""
                        src="{% static 'css/public/iconwrapper10.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-div2">
          <div class="content4">
            <div class="form">
              <div class="form-item">
                <div class="label">
                  <div class="texttext"><div class="text">Last Name</div></div>
                  <div class="required"><div class="text">*</div></div>
                </div>
                <div class="input">
                  <div class="input-base">
                    <div class="placeholder">
                      <div class="input-prefix">
                        <div class="icon">
                          <div class="width-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <div class="icon-wrapper-h1">
                            <div class="height-change-size-here1">
                              <div class="ignore4"></div>
                              <div class="ignore4"></div>
                            </div>
                            <img
                              class="icon-wrapper3"
                              alt=""
                              src="{% static 'css/public/iconwrapper1.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="text">Enter your last name</div>
                    </div>
                    <div class="spacer">
                      <div class="ignore4"></div>
                      <div class="ignore4"></div>
                    </div>
                    <div class="input-prefix">
                      <div class="icon">
                        <div class="width-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <div class="icon-wrapper-h1">
                          <div class="height-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <img
                            class="icon-wrapper3"
                            alt=""
                            src="{% static 'css/public/iconwrapper12.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item1">
                <div class="label">
                  <div class="texttext">
                    <div class="text">Company Name</div>
                  </div>
                  <div class="required"><div class="text">*</div></div>
                </div>
                <div class="input">
                  <div class="input-base">
                    <div class="placeholder">
                      <div class="input-prefix">
                        <div class="icon">
                          <div class="width-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <div class="icon-wrapper-h1">
                            <div class="height-change-size-here1">
                              <div class="ignore4"></div>
                              <div class="ignore4"></div>
                            </div>
                            <img
                              class="icon-wrapper3"
                              alt=""
                              src="{% static 'css/public/iconwrapper1.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="text">Enter your company name</div>
                    </div>
                    <div class="spacer">
                      <div class="ignore4"></div>
                      <div class="ignore4"></div>
                    </div>
                    <div class="input-prefix">
                      <div class="icon">
                        <div class="width-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <div class="icon-wrapper-h1">
                          <div class="height-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <img
                            class="icon-wrapper3"
                            alt=""
                            src="{% static 'css/public/iconwrapper14.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item2">
                <div class="label">
                  <div class="texttext"><div class="text">Password</div></div>
                  <div class="required"><div class="text">*</div></div>
                </div>
                <div class="password">
                  <div class="input2">
                    <div class="input-base">
                      <div class="placeholder">
                        <div class="input-prefix">
                          <div class="icon">
                            <div class="width-change-size-here1">
                              <div class="ignore4"></div>
                              <div class="ignore4"></div>
                            </div>
                            <div class="icon-wrapper-h1">
                              <div class="height-change-size-here1">
                                <div class="ignore4"></div>
                                <div class="ignore4"></div>
                              </div>
                              <img
                                class="icon-wrapper3"
                                alt=""
                                src="{% static 'css/public/iconwrapper1.svg' %}"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="text">Password</div>
                      </div>
                      <div class="spacer2">
                        <div class="ignore4"></div>
                        <div class="ignore4"></div>
                      </div>
                      <div class="input-suffix2">
                        <div class="icon">
                          <div class="width-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <div class="icon-wrapper-h1">
                            <div class="height-change-size-here1">
                              <div class="ignore4"></div>
                              <div class="ignore4"></div>
                            </div>
                            <img
                              class="icon-wrapper3"
                              alt=""
                              src="{% static 'css/public/iconwrapper16.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-item3">
              <div class="label">
                <div class="texttext"><div class="text">Phone Number</div></div>
                <div class="required"><div class="text">*</div></div>
              </div>
              <div class="input8">
                <div class="input-base8">
                  <div class="placeholder">
                    <div class="input-prefix">
                      <div class="icon">
                        <div class="width-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <div class="icon-wrapper-h1">
                          <div class="height-change-size-here1">
                            <div class="ignore4"></div>
                            <div class="ignore4"></div>
                          </div>
                          <img
                            class="icon-wrapper3"
                            alt=""
                            src="{% static 'css/public/iconwrapper1.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="text">Enter your phone number</div>
                  </div>
                  <div class="spacer">
                    <div class="ignore4"></div>
                    <div class="ignore4"></div>
                  </div>
                  <div class="input-prefix">
                    <div class="icon">
                      <div class="width-change-size-here1">
                        <div class="ignore4"></div>
                        <div class="ignore4"></div>
                      </div>
                      <div class="icon-wrapper-h1">
                        <div class="height-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <img
                          class="icon-wrapper3"
                          alt=""
                          src="{% static 'css/public/iconwrapper18.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-addon-right">
                  <div class="icon">
                    <div class="width-change-size-here19">
                      <div class="ignore4"></div>
                      <div class="ignore4"></div>
                    </div>
                    <div class="icon-wrapper-h1">
                      <div class="height-change-size-here19">
                        <div class="ignore4"></div>
                        <div class="ignore4"></div>
                      </div>
                      <img
                        class="icon-wrapper3"
                        alt=""
                        src="{% static 'css/public/iconwrapper19.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="texttext">
              <div class="text">Already have an account?</div>
            </div>
            <div class="texttext1"><div class="text19">Log in</div></div>
          </div>
        </div>
        <div class="actions">
          <div class="button">
            <div class="icon1">
              <div class="width-change-size-here19">
                <div class="ignore4"></div>
                <div class="ignore4"></div>
              </div>
              <div class="icon-wrapper-h1">
                <div class="height-change-size-here19">
                  <div class="ignore4"></div>
                  <div class="ignore4"></div>
                </div>
                <img
                  class="icon-wrapper3"
                  alt=""
                  src="{% static 'css/public/iconwrapper20.svg' %}"
                />
              </div>
            </div>
            <div class="texttext"><div class="text">Get started</div></div>
            <div class="icon1">
              <div class="width-change-size-here19">
                <div class="ignore4"></div>
                <div class="ignore4"></div>
              </div>
              <div class="icon-wrapper-h1">
                <div class="height-change-size-here19">
                  <div class="ignore4"></div>
                  <div class="ignore4"></div>
                </div>
                <img
                  class="icon-wrapper3"
                  alt=""
                  src="{% static 'css/public/iconwrapper21.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="header"></div>
        <div class="heading">
          <div class="wrapper1">
            <div class="text22">Create an account</div>
          </div>
          <div class="subtitle">
            <div class="text">Start your journey!</div>
          </div>
        </div>
        <div class="button-group">
          <div class="button1">
            <div class="icon1">
              <div class="width-change-size-here19">
                <div class="ignore4"></div>
                <div class="ignore4"></div>
              </div>
              <div class="icon-wrapper-h1">
                <div class="height-change-size-here19">
                  <div class="ignore4"></div>
                  <div class="ignore4"></div>
                </div>
                <img
                  class="icon-wrapper3"
                  alt=""
                  src="{% static 'css/public/iconwrapper22.svg' %}"
                />
              </div>
            </div>
            <div class="texttext"><div class="text">Contractor</div></div>
            <div class="icon1">
              <div class="width-change-size-here19">
                <div class="ignore4"></div>
                <div class="ignore4"></div>
              </div>
              <div class="icon-wrapper-h1">
                <div class="height-change-size-here19">
                  <div class="ignore4"></div>
                  <div class="ignore4"></div>
                </div>
                <img
                  class="icon-wrapper3"
                  alt=""
                  src="{% static 'css/public/iconwrapper23.svg' %}"
                />
              </div>
            </div>
          </div>
          <div class="button2">
            <div class="icon1">
              <div class="width-change-size-here19">
                <div class="ignore4"></div>
                <div class="ignore4"></div>
              </div>
              <div class="icon-wrapper-h1">
                <div class="height-change-size-here19">
                  <div class="ignore4"></div>
                  <div class="ignore4"></div>
                </div>
                <img
                  class="icon-wrapper3"
                  alt=""
                  src="{% static 'css/public/iconwrapper24.svg' %}"
                />
              </div>
            </div>
            <div class="texttext"><div class="text">Employee</div></div>
            <div class="icon1">
              <div class="width-change-size-here19">
                <div class="ignore4"></div>
                <div class="ignore4"></div>
              </div>
              <div class="icon-wrapper-h1">
                <div class="height-change-size-here19">
                  <div class="ignore4"></div>
                  <div class="ignore4"></div>
                </div>
                <img
                  class="icon-wrapper3"
                  alt=""
                  src="{% static 'css/public/iconwrapper25.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form-item9">
          <div class="label">
            <div class="texttext"><div class="text">Confirm Password</div></div>
            <div class="required"><div class="text">*</div></div>
          </div>
          <div class="password">
            <div class="input2">
              <div class="input-base">
                <div class="placeholder">
                  <div class="input-prefix">
                    <div class="icon">
                      <div class="width-change-size-here1">
                        <div class="ignore4"></div>
                        <div class="ignore4"></div>
                      </div>
                      <div class="icon-wrapper-h1">
                        <div class="height-change-size-here1">
                          <div class="ignore4"></div>
                          <div class="ignore4"></div>
                        </div>
                        <img
                          class="icon-wrapper3"
                          alt=""
                          src="{% static 'css/public/iconwrapper1.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="text">Password</div>
                </div>
                <div class="spacer2">
                  <div class="ignore4"></div>
                  <div class="ignore4"></div>
                </div>
                <div class="input-suffix2">
                  <div class="icon">
                    <div class="width-change-size-here1">
                      <div class="ignore4"></div>
                      <div class="ignore4"></div>
                    </div>
                    <div class="icon-wrapper-h1">
                      <div class="height-change-size-here1">
                        <div class="ignore4"></div>
                        <div class="ignore4"></div>
                      </div>
                      <img
                        class="icon-wrapper3"
                        alt=""
                        src="{% static 'css/public/iconwrapper27.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-number">
          <div class="input-addon-left">
            <div class="texttext"><div class="text">+966</div></div>
          </div>
          <div class="input-number-base">
            <div class="placeholder20">
              <div class="input-prefix">
                <div class="icon">
                  <div class="width-change-size-here1">
                    <div class="ignore4"></div>
                    <div class="ignore4"></div>
                  </div>
                  <div class="icon-wrapper-h1">
                    <div class="height-change-size-here1">
                      <div class="ignore4"></div>
                      <div class="ignore4"></div>
                    </div>
                    <img
                      class="icon-wrapper3"
                      alt=""
                      src="{% static 'css/public/iconwrapper28.svg' %}"
                    />
                  </div>
                </div>
              </div>
              <div class="text">Phone Number</div>
            </div>
            <div class="spacer10">
              <div class="ignore4"></div>
              <div class="ignore4"></div>
            </div>
            <div class="input-prefix">
              <div class="icon">
                <div class="width-change-size-here1">
                  <div class="ignore4"></div>
                  <div class="ignore4"></div>
                </div>
                <div class="icon-wrapper-h1">
                  <div class="height-change-size-here1">
                    <div class="ignore4"></div>
                    <div class="ignore4"></div>
                  </div>
                  <img
                    class="icon-wrapper3"
                    alt=""
                    src="{% static 'css/public/iconwrapper29.svg' %}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="image-1-icon1" alt="" src="{% static 'css/public/image-1@2x.png' %}" />
    </div>
  </body>
</html>
