{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ReqViewRequests1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="req-view-requests1">
      <img class="bg-icon6" alt="" src="{% static 'css/public/bg5.svg' %}" data-scroll-to="bg" />
      <div class="all-tickets1">
        <img class="cards-default23" alt="" src="{% static 'css/public/cards--default.svg' %}" />
        <div class="table-ticket-priority-high3">
          <div class="content50">
            <img
              class="icon-more-vertical7"
              alt=""
              src="{% static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="badge97">
              <div class="badge98"><b class="text706">Rejected</b></div>
            </div>
            <div class="date-customer13">External</div>
            <div class="customer-name13">Company X</div>
            <div class="ticket-information7">May 26, 2022</div>
            <div class="ticket-name7">Request Example 1</div>
          </div>
          <img
            class="divider-line-horizontal27"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal28"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          />
        </div>
        <div class="table-ticket-priority-low2">
          <div class="content51">
            <img
              class="icon-more-vertical8"
              alt=""
              src="{% static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="badge99">
              <div class="badge100"><b class="text706">On Hold</b></div>
            </div>
            <div class="date-label13">#RQ00002</div>
            <div class="date-label14">#RQ00001</div>
            <div class="date-customer14">Internal</div>
            <div class="customer-name14">Department X</div>
            <div class="ticket-information8">May 26, 2022</div>
            <div class="ticket-name8">Request Example 2</div>
          </div>
          <img
            class="divider-line-horizontal27"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal28"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          />
        </div>
        <div class="table-ticket-priority-low3">
          <div class="content50">
            <img
              class="icon-more-vertical7"
              alt=""
              src="{% static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="date-label15">#RQ00011</div>
            <div class="date-customer15">External</div>
            <div class="customer-name15">Company I</div>
            <div class="ticket-information9">May 26, 2022</div>
            <div class="ticket-name9">Request Example 7</div>
          </div>
          <img
            class="divider-line-horizontal27"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal28"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          />
          <div class="badge101">
            <div class="badge100"><b class="text706">On Hold</b></div>
          </div>
        </div>
        <div class="table-ticket-priority-high4">
          <div class="content50">
            <img
              class="icon-more-vertical7"
              alt=""
              src="{% static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="date-label15">#RQ00007</div>
            <div class="date-customer15">Internal</div>
            <div class="customer-name15">Department Y</div>
            <div class="ticket-information9">May 26, 2022</div>
            <div class="ticket-name9">Request Example 3</div>
          </div>
          <img
            class="divider-line-horizontal27"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal28"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          />
          <div class="badge103">
            <div class="badge98"><b class="text706">Rejected</b></div>
          </div>
        </div>
        <div class="filter4">
          <div class="filter5">Filter</div>
          <img class="icon-filter2" alt="" src="{% static 'css/public/icon--filter.svg' %}" />
        </div>
        <div class="sort4">
          <div class="filter5">Sort</div>
          <img class="icon-sort2" alt="" src="{% static 'css/public/icon--sort.svg' %}" />
        </div>
        <div class="table-bottom1">
          <div class="rows-per-page2">
            <div class="rows-per-page3">Rows per page:</div>
            <div class="div5">8</div>
            <img
              class="icon-dropdown1"
              alt=""
              src="{% static 'css/public/icon--dropdown.svg' %}"
            />
          </div>
          <div class="pagination1">
            <div class="of-12401">1-8 of 1240</div>
            <img
              class="icon-arrow-left1"
              alt=""
              src="{% static 'css/public/icon--arrow--left.svg' %}"
            /><img
              class="icon-arrow-right1"
              alt=""
              src="{% static 'css/public/icon--arrow--right.svg' %}"
            />
          </div>
        </div>
        <b class="all-requests1">All Requests</b>
        <div class="table-ticket-priority-norm2">
          <div class="content50">
            <img
              class="icon-more-vertical7"
              alt=""
              src="{% static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="badge105"><b class="text706">Active</b></div>
            <div class="date-label15">#RQ00010</div>
            <div class="date-customer15">Internal</div>
            <div class="customer-name15">Department Z</div>
            <div class="ticket-information9">May 26, 2022</div>
            <div class="ticket-name9">Request Example 4</div>
          </div>
          <img
            class="divider-line-horizontal27"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal28"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          />
        </div>
        <div class="table-ticket-priority-norm3">
          <div class="content50">
            <img
              class="icon-more-vertical7"
              alt=""
              src="{% static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="date-label15">#RQ00003</div>
            <div class="date-customer15">External</div>
            <div class="customer-name15">Company Z</div>
            <div class="ticket-information9">May 26, 2022</div>
            <div class="ticket-name9">Request Example 6</div>
          </div>
          <img
            class="divider-line-horizontal27"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal28"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          />
          <div class="badge106"><b class="text706">Active</b></div>
        </div>
        <div class="table-ticket-priority-high5">
          <div class="sheet32"></div>
          <div class="content50">
            <img
              class="icon-more-vertical7"
              alt=""
              src="{% static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="date-label15">#RQ00009</div>
            <div class="date-customer15">External</div>
            <div class="customer-name15">Company Y</div>
            <div class="ticket-information9">May 26, 2022</div>
            <div class="ticket-name9">Request Example 5</div>
          </div>
          <img
            class="divider-line-horizontal39"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal40"
            alt=""
            src="{% static 'css/public/divider--line--horizontal10.svg' %}"
          />
          <div class="badge107">
            <div class="badge98"><b class="text706">Rejected</b></div>
          </div>
        </div>
        <div class="table-top1">
          <b class="request-title1">Request Title</b><b class="owner1">Owner</b
          ><b class="status1">Status</b
          ><b class="request-number1">Request Number</b
          ><img
            class="divider-line-horizontal41"
            alt=""
            src="{% static 'css/public/divider--line--horizontal24.svg' %}"
          />
        </div>
      </div>
      <div class="header-default6">
        <div class="avatar6">
          <div class="wrapper66">
            <div class="icon-wrapper460">
              <div class="width-change-size-here288">
                <div class="ignore1422"></div>
                <div class="ignore1422"></div>
              </div>
              <div class="icon-wrapper-h288">
                <div class="height-change-size-here288">
                  <div class="ignore1422"></div>
                  <div class="ignore1422"></div>
                </div>
                <img
                  class="icon-wrapper461"
                  alt=""
                  src="{% static 'css/public/iconwrapper.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="name6">Naser Hamed</div>
        <img
          class="divider-line-vertical6"
          alt=""
          src="{% static 'css/public/divider--line--vertical.svg' %}"
        /><img
          class="icon-notifications-new6"
          alt=""
          src="{% static 'css/public/icon--notifications--new6.svg' %}"
        />
      </div>
      <div class="sidebar-desktop6">
        <div class="sidebar-list-active7" id="sidebarListActive">
          <img class="sheet-icon6" alt="" src="{% static 'css/public/sheet.svg' %}" />
          <div class="selected7"></div>
          <div class="title96">Requests History</div>
          <img
            class="icon-sidebar-active-2-t6"
            alt=""
            src="{% static 'css/public/icon--sidebar--active--2-tickets4.svg' %}"
          />
        </div>
        <div class="sidebar-list-active8" id="sidebarListActive1">
          <img class="sheet-icon7" alt="" src="{% static 'css/public/sheet.svg' %}" />
          <div class="selected8"></div>
          <div class="title96">New Request</div>
          <img
            class="icon-sidebar-active-2-t6"
            alt=""
            src="{% static 'css/public/icon--sidebar--active--2-tickets5.svg' %}"
          />
        </div>
        <div class="title98">Log out</div>
        <div class="sidebar-list-inactive16"></div>
        <img
          class="icon-sidebar-inactive-a-6"
          alt=""
          src="{% static 'css/public/icon--sidebar--inactive--a-1-settings6.svg' %}"
        /><img
          class="divider-line-horizontal42"
          alt=""
          src="{% static 'css/public/divider--line--horizontal.svg' %}"
        /><img class="image-1-icon9" alt="" src="{% static 'css/public/image-1@2x.png' %}" />
      </div>
    </div>

    <script>
      var sidebarListActive = document.getElementById("sidebarListActive");
      if (sidebarListActive) {
        sidebarListActive.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='bg']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var sidebarListActive1 = document.getElementById("sidebarListActive1");
      if (sidebarListActive1) {
        sidebarListActive1.addEventListener("click", function (e) {
          window.location.href = "./RequesterInitiateRequest1.html";
        });
      }
      </script>
  </body>
</html>
