{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{ % static 'css/global.css' %}" />
    <link rel="stylesheet" href="{ % static 'css/Admin1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="admin1">
      <img class="bg-icon11" alt="" src="{{ % static 'css/public/bg5.svg' %}" />
      <div class="all-tickets3" id="allTicketsContainer">
        <div class="cards-default33">
          <div class="sheet46" data-scroll-to="sheet"></div>
        </div>
        <div class="table-ticket-priority-high8">
          <div class="content64">
            <img
              class="icon-more-vertical17"
              alt=""
              src="{ % static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="customer-name23">Engineering</div>
            <div class="ticket-information17">May 26, 2022</div>
            <div class="ticket-name17">Mustafa Rami</div>
          </div>
          <img
            class="divider-line-horizontal54"
            alt=""
            src="{ % static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal55"
            alt=""
            src="{ % static 'css/public/divider--line--horizontal10.svg' %}"
          /><button class="dropdown-trigger3">
            <button class="button34">
              <div class="icon117">
                <div class="width-change-size-here396">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <input class="icon-wrapper-h396" type="checkbox" />
              </div>
              <button class="text840">
                <div class="text841">Select Role</div>
              </button>
              <div class="icon117">
                <div class="width-change-size-here396">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <div class="icon-wrapper-h397">
                  <div class="height-change-size-here396">
                    <div class="ignore1962"></div>
                    <div class="ignore1962"></div>
                  </div>
                  <img
                    class="icon-wrapper635"
                    alt=""
                    src="{ % static 'css/public/iconwrapper384.svg' %}"
                  />
                </div>
              </div>
            </button>
            <div class="dropdown-toggle3">
              <div class="icon118">
                <div class="width-change-size-here398">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <input class="icon-wrapper-h396" type="checkbox" />
              </div>
            </div></button
          ><img class="check-lg-icon3" alt="" src="{ % static 'css/public/checklg.svg' %}" /><img
            class="x-icon3"
            alt=""
            src="{ % static 'css/public/x.svg' %}"
          /><img class="check-lg-icon4" alt="" src="{ % static 'css/public/checklg.svg' %}" /><img
            class="x-icon4"
            alt=""
            src="{ % static 'css/public/x.svg' %}"
          /><img class="check-lg-icon5" alt="" src="{ % static 'css/public/checklg.svg' %}" /><img
            class="x-icon5"
            alt=""
            src="{ % static 'css/public/x.svg' %}"
          />
        </div>
        <div class="table-ticket-priority-low5">
          <div class="content64">
            <img
              class="icon-more-vertical17"
              alt=""
              src="{ % static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="customer-name23">Security</div>
            <div class="ticket-information17">May 26, 2022</div>
            <div class="ticket-name17">Ali Khalid</div>
          </div>
          <img
            class="divider-line-horizontal54"
            alt=""
            src="{ % static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal55"
            alt=""
            src="{ % static 'css/public/divider--line--horizontal10.svg' %}"
          />
          <div class="dropdown-trigger4">
            <div class="button35">
              <div class="icon117">
                <div class="width-change-size-here396">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <div class="icon-wrapper-h397">
                  <div class="height-change-size-here396">
                    <div class="ignore1962"></div>
                    <div class="ignore1962"></div>
                  </div>
                  <img
                    class="icon-wrapper635"
                    alt=""
                    src="{ % static 'css/public/iconwrapper385.svg' %}"
                  />
                </div>
              </div>
              <div class="text842"><div class="text843">Select Role</div></div>
              <div class="icon117">
                <div class="width-change-size-here396">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <div class="icon-wrapper-h397">
                  <div class="height-change-size-here396">
                    <div class="ignore1962"></div>
                    <div class="ignore1962"></div>
                  </div>
                  <img
                    class="icon-wrapper635"
                    alt=""
                    src="{ % static 'css/public/iconwrapper386.svg' %}"
                  />
                </div>
              </div>
            </div>
            <div class="dropdown-toggle3">
              <div class="icon118">
                <div class="width-change-size-here398">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <div class="icon-wrapper-h397">
                  <div class="height-change-size-here399">
                    <div class="ignore1962"></div>
                    <div class="ignore1962"></div>
                  </div>
                  <img
                    class="icon-wrapper635"
                    alt=""
                    src="{ % static 'css/public/iconwrapper376.svg' %}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-ticket-priority-high9">
          <div class="content64">
            <img
              class="icon-more-vertical17"
              alt=""
              src="{ % static 'css/public/icon--more--vertical.svg' %}"
            />
            <div class="customer-name23">Operation</div>
            <div class="ticket-information17">May 26, 2022</div>
            <div class="ticket-name17">Yasser Reda</div>
          </div>
          <img
            class="divider-line-horizontal54"
            alt=""
            src="{ % static 'css/public/divider--line--horizontal10.svg' %}"
          /><img
            class="divider-line-horizontal55"
            alt=""
            src="{ % static 'css/public/divider--line--horizontal10.svg' %}"
          />
          <div class="dropdown-trigger5">
            <div class="button35">
              <div class="icon117">
                <div class="width-change-size-here396">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <div class="icon-wrapper-h397">
                  <div class="height-change-size-here396">
                    <div class="ignore1962"></div>
                    <div class="ignore1962"></div>
                  </div>
                  <img
                    class="icon-wrapper635"
                    alt=""
                    src="{ % static 'css/public/iconwrapper388.svg' %}"
                  />
                </div>
              </div>
              <div class="text842"><div class="text843">Select Role</div></div>
              <div class="icon117">
                <div class="width-change-size-here396">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <div class="icon-wrapper-h397">
                  <div class="height-change-size-here396">
                    <div class="ignore1962"></div>
                    <div class="ignore1962"></div>
                  </div>
                  <img
                    class="icon-wrapper635"
                    alt=""
                    src="{ % static 'css/public/iconwrapper389.svg' %}"
                  />
                </div>
              </div>
            </div>
            <div class="dropdown-toggle3">
              <div class="icon118">
                <div class="width-change-size-here398">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <div class="icon-wrapper-h397">
                  <div class="height-change-size-here399">
                    <div class="ignore1962"></div>
                    <div class="ignore1962"></div>
                  </div>
                  <img
                    class="icon-wrapper635"
                    alt=""
                    src="{ % static 'css/public/iconwrapper376.svg' %}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter8">
          <div class="filter9">Filter</div>
          <img class="icon-filter4" alt="" src="{ % static 'css/public/icon--filter.svg' %}" />
        </div>
        <div class="sort8">
          <div class="filter9">Sort</div>
          <img class="icon-sort4" alt="" src="{ % static 'css/public/icon--sort.svg' %}" />
        </div>
        <b class="requests1">Requests</b>
        <div class="table-top3">
          <b class="employee-name1">Employee name</b
          ><b class="department1">Department</b><b class="accept1">Accept</b
          ><b class="role1">Role</b
          ><img
            class="divider-line-horizontal60"
            alt=""
            src="{ % static 'css/public/divider--line--horizontal24.svg' %}"
          />
        </div>
      </div>
      <div class="header-default11">
        <div class="avatar11">
          <div class="wrapper99">
            <div class="icon118">
              <div class="width-change-size-here405">
                <div class="ignore1962"></div>
                <div class="ignore1962"></div>
              </div>
              <div class="icon-wrapper-h397">
                <div class="height-change-size-here403">
                  <div class="ignore1962"></div>
                  <div class="ignore1962"></div>
                </div>
                <img
                  class="icon-wrapper635"
                  alt=""
                  src="{ % static 'css/public/iconwrapper383.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="name11">Naser Hamed</div>
        <img
          class="divider-line-vertical11"
          alt=""
          src="{ % static 'css/public/divider--line--vertical.svg' %}"
        /><img
          class="icon-notifications-new11"
          alt=""
          src="{ % static 'css/public/icon--notifications--new11.svg' %}"
        />
      </div>
      <div class="sidebar-desktop11">
        <div class="sidebar-list-inactive24" id="sidebarListInactive">
          <div class="title140">Overview</div>
          <img
            class="icon-sidebar-inactive-15"
            alt=""
            src="{ % static 'css/public/icon--sidebar--inactive--1-overview.svg' %}"
          />
        </div>
        <div class="sidebar-list-active17" id="sidebarListActive">
          <img class="sheet-icon14" alt="" src="{ % static 'css/public/sheet.svg' %}" />
          <div class="selected17"></div>
          <div class="title140">Requests</div>
          <img
            class="icon-sidebar-active-2-t15"
            alt=""
            src="{ % static 'css/public/icon--sidebar--active--2-tickets15.svg' %}"
          />
        </div>
        <div class="sidebar-list-inactive25" id="sidebarListInactive1">
          <div class="title140">Contacts</div>
          <img
            class="icon-sidebar-active-2-t15"
            alt=""
            src="{ % static 'css/public/icon--sidebar--inactive--4-contacts5.svg' %}"
          />
        </div>
        <div class="sidebar-list-active18" id="sidebarListActive1">
          <img class="sheet-icon15" alt="" src="{ % static 'css/public/sheet13.svg' %}" />
          <div class="selected18"></div>
          <div class="title140" data-scroll-to="titleText">Admin</div>
          <div class="person-check-fill2">
            <img class="vector-icon2" alt="" src="{ % static 'css/public/vector.svg' %}" />
          </div>
        </div>
        <div class="title144">Log out</div>
        <div class="sidebar-list-inactive26"></div>
        <img
          class="icon-sidebar-inactive-a-11"
          alt=""
          src="{ % static 'css/public/icon--sidebar--inactive--a-1-settings11.svg' %}"
        /><img
          class="divider-line-horizontal61"
          alt=""
          src="{ % static 'css/public/divider--line--horizontal.svg' %}v"
        /><img class="image-1-icon14" alt="" src="{ % static 'image/image-1@2x.png' %}" />
      </div>
    </div>

    <script>
      var allTicketsContainer = document.getElementById("allTicketsContainer");
      if (allTicketsContainer) {
        allTicketsContainer.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='sheet']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var sidebarListInactive = document.getElementById("sidebarListInactive");
      if (sidebarListInactive) {
        sidebarListInactive.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var sidebarListActive = document.getElementById("sidebarListActive");
      if (sidebarListActive) {
        sidebarListActive.addEventListener("click", function (e) {
          window.location.href = "./ProviderViewRequests.html";
        });
      }
      
      var sidebarListInactive1 = document.getElementById("sidebarListInactive1");
      if (sidebarListInactive1) {
        sidebarListInactive1.addEventListener("click", function (e) {
          window.location.href = "./provider/Delegation.html";
        });
      }
      
      var sidebarListActive1 = document.getElementById("sidebarListActive1");
      if (sidebarListActive1) {
        sidebarListActive1.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='titleText']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      </script>
  </body>
</html>
