{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{ % static 'css/global.css'%}" />
    <link rel="stylesheet" href="{ % static 'css/Login.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="login">
      <div class="log-in1">
        <div class="header1"></div>
        <div class="heading1">
          <div class="wrapper2">
            <div class="text32">Log in to your account</div>
          </div>
          <div class="subtitle1">
            <div class="text33">Welcome back! Please enter your details.</div>
          </div>
        </div>
        <div class="group-div3">
          <div class="form2">
            <div class="form-item10">
              <div class="label10">
                <div class="title13"><div class="text33">Email</div></div>
                <div class="line-height">
                  <div class="help-icon-with-tooltip">
                    <div class="zero-height">
                      <div class="zero-pixel">
                        <div class="tooltip">
                          <div class="body">
                            <div class="textparagraph">
                              <div class="text33">Tooltip text</div>
                              <div class="min-width-change-size-here">
                                <div class="ignore142"></div>
                                <div class="ignore142"></div>
                              </div>
                            </div>
                          </div>
                          <div class="arrow-position-scrubber">
                            <img
                              class="arrow-wrapper-icon"
                              alt=""
                              src="{ % static 'css/public/arrowwrapper.svg'%}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="icon-wrapper53">
                      <div class="width-change-size-here30">
                        <div class="ignore142"></div>
                        <div class="ignore142"></div>
                      </div>
                      <div class="icon-wrapper-h30">
                        <div class="height-change-size-here30">
                          <div class="ignore142"></div>
                          <div class="ignore142"></div>
                        </div>
                        <img
                          class="icon-wrapper54"
                          alt=""
                          src="{ % static 'css/public/iconwrapper30.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="required10"><div class="text33">*</div></div>
              </div>
              <div class="input10">
                <div class="input-base10">
                  <div class="placeholder22">
                    <div class="input-prefix11">
                      <div class="icon-wrapper53">
                        <div class="width-change-size-here30">
                          <div class="ignore142"></div>
                          <div class="ignore142"></div>
                        </div>
                        <div class="icon-wrapper-h30">
                          <div class="height-change-size-here30">
                            <div class="ignore142"></div>
                            <div class="ignore142"></div>
                          </div>
                          <img
                            class="icon-wrapper54"
                            alt=""
                            src="{ % static 'css/public/iconwrapper31.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="text33">Enter your email</div>
                  </div>
                  <div class="spacer11">
                    <div class="ignore142"></div>
                    <div class="ignore142"></div>
                  </div>
                  <div class="input-prefix11">
                    <div class="icon-wrapper53">
                      <div class="width-change-size-here30">
                        <div class="ignore142"></div>
                        <div class="ignore142"></div>
                      </div>
                      <div class="icon-wrapper-h30">
                        <div class="height-change-size-here30">
                          <div class="ignore142"></div>
                          <div class="ignore142"></div>
                        </div>
                        <img
                          class="icon-wrapper54"
                          alt=""
                          src="{ % static 'css/public/iconwrapper32.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-text">
                <div class="text33">Form text lorem ipsum dolor sit amet</div>
              </div>
            </div>
            <div class="form-item11">
              <div class="label10">
                <div class="title13"><div class="text33">Password</div></div>
                <div class="line-height">
                  <div class="help-icon-with-tooltip">
                    <div class="zero-height">
                      <div class="zero-pixel">
                        <div class="tooltip">
                          <div class="body">
                            <div class="textparagraph">
                              <div class="text33">Tooltip text</div>
                              <div class="min-width-change-size-here">
                                <div class="ignore142"></div>
                                <div class="ignore142"></div>
                              </div>
                            </div>
                          </div>
                          <div class="arrow-position-scrubber">
                            <img
                              class="arrow-wrapper-icon"
                              alt=""
                              src="{ % static 'css/public/arrowwrapper1.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="icon-wrapper53">
                      <div class="width-change-size-here30">
                        <div class="ignore142"></div>
                        <div class="ignore142"></div>
                      </div>
                      <div class="icon-wrapper-h30">
                        <div class="height-change-size-here30">
                          <div class="ignore142"></div>
                          <div class="ignore142"></div>
                        </div>
                        <img
                          class="icon-wrapper54"
                          alt=""
                          src="{ % static 'css/public/iconwrapper33.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="required10"><div class="text33">*</div></div>
              </div>
              <div class="password4">
                <div class="input11">
                  <div class="input-base10">
                    <div class="placeholder22">
                      <div class="input-prefix11">
                        <div class="icon-wrapper53">
                          <div class="width-change-size-here30">
                            <div class="ignore142"></div>
                            <div class="ignore142"></div>
                          </div>
                          <div class="icon-wrapper-h30">
                            <div class="height-change-size-here30">
                              <div class="ignore142"></div>
                              <div class="ignore142"></div>
                            </div>
                            <img
                              class="icon-wrapper54"
                              alt=""
                              src="{ % static 'css/public/iconwrapper31.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="text33">Password</div>
                    </div>
                    <div class="spacer12">
                      <div class="ignore142"></div>
                      <div class="ignore142"></div>
                    </div>
                    <div class="input-suffix12">
                      <div class="icon-wrapper53">
                        <div class="width-change-size-here30">
                          <div class="ignore142"></div>
                          <div class="ignore142"></div>
                        </div>
                        <div class="icon-wrapper-h30">
                          <div class="height-change-size-here30">
                            <div class="ignore142"></div>
                            <div class="ignore142"></div>
                          </div>
                          <img
                            class="icon-wrapper54"
                            alt=""
                            src="{ % static 'css/public/iconwrapper35.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-text">
                <div class="text33">Form text lorem ipsum dolor sit amet</div>
              </div>
            </div>
          </div>
        </div>
        <div class="button3">
          <div class="icon4">
            <div class="width-change-size-here36">
              <div class="ignore142"></div>
              <div class="ignore142"></div>
            </div>
            <div class="icon-wrapper-h30">
              <div class="height-change-size-here36">
                <div class="ignore142"></div>
                <div class="ignore142"></div>
              </div>
              <img
                class="icon-wrapper54"
                alt=""
                src="{ % static 'css/public/iconwrapper36.svg' %}"
              />
            </div>
          </div>
          <div class="title13"><div class="text33">Sign in</div></div>
          <div class="icon4">
            <div class="width-change-size-here36">
              <div class="ignore142"></div>
              <div class="ignore142"></div>
            </div>
            <div class="icon-wrapper-h30">
              <div class="height-change-size-here36">
                <div class="ignore142"></div>
                <div class="ignore142"></div>
              </div>
              <img
                class="icon-wrapper54"
                alt=""
                src="{ % static 'css/public/iconwrapper37.svg' %}"
              />
            </div>
          </div>
        </div>
        <div class="texttext2"><div class="text44">Forgot password</div></div>
        <div class="texttext3">
          <div class="text33">Don’t have an account?</div>
        </div>
        <div class="text46" id="text13">Sign up</div>
      </div>
      <img class="image-1-icon2" alt="" src="{ % static 'css/public/image-1@2x.png' %}" />
    </div>

    <script>
      var text13 = document.getElementById("text13");
      if (text13) {
        text13.addEventListener("click", function (e) {
          window.location.href = "./Register.html";
        });
      }
      </script>
  </body>
</html>
