{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Delegation.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="delegation">
      <img class="bg-icon14" alt="" src="{% static 'css/public/bg5.svg' %}" />
      <div class="unresolved">
        <div class="cards-default36">
          <div class="sheet49"></div>
          <b class="delegate">Delegate </b>
          <div class="input46">
            <div class="input-base52">
              <div class="placeholder274">
                <div class="input-prefix84">
                  <div class="icon-wrapper648">
                    <div class="width-change-size-here408">
                      <div class="ignore2008"></div>
                      <div class="ignore2008"></div>
                    </div>
                    <div class="icon-wrapper-h408">
                      <div class="height-change-size-here406">
                        <div class="ignore2008"></div>
                        <div class="ignore2008"></div>
                      </div>
                      <img
                        class="icon-wrapper649"
                        alt=""
                        src="{% static 'css/public/iconwrapper394.svg' %}"
                      />
                    </div>
                  </div>
                </div>
                <div class="placeholder275">example: @XXXXX</div>
              </div>
              <div class="spacer96">
                <div class="ignore2008"></div>
                <div class="ignore2008"></div>
              </div>
              <div class="input-prefix84">
                <div class="icon-wrapper648">
                  <div class="width-change-size-here408">
                    <div class="ignore2008"></div>
                    <div class="ignore2008"></div>
                  </div>
                  <div class="icon-wrapper-h408">
                    <div class="height-change-size-here406">
                      <div class="ignore2008"></div>
                      <div class="ignore2008"></div>
                    </div>
                    <img
                      class="icon-wrapper649"
                      alt=""
                      src="{% static 'css/public/iconwrapper395.svg' %}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="date-picker6">
          <div class="wrapper103">
            <div class="placeholder276">
              <div class="placeholder-left12">Select date</div>
            </div>
            <div class="spacer97">
              <div class="ignore2008"></div>
              <div class="ignore2008"></div>
            </div>
            <div class="input-affix12">
              <div class="icon-wrapper648">
                <div class="width-change-size-here410">
                  <div class="ignore2008"></div>
                  <div class="ignore2008"></div>
                </div>
                <div class="icon-wrapper-h408">
                  <div class="height-change-size-here408">
                    <div class="ignore2008"></div>
                    <div class="ignore2008"></div>
                  </div>
                  <img
                    class="icon-wrapper649"
                    alt=""
                    src="{% static 'css/public/iconwrapper396.svg' %}"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="box8"></div>
          <div class="zero-height52">
            <div class="date-picker-dropdown6">
              <div class="arrow8">
                <img
                  class="arrow-head-icon8"
                  alt=""
                  src="{% static 'css/public/arrowhead8.svg' %}"
                />
              </div>
              <div class="picker-header6">
                <img
                  class="header-super-prev-btn-icon6"
                  alt=""
                  src="{% static 'css/public/headersuperprevbtn6.svg' %}"
                /><img
                  class="header-prev-btn-icon6"
                  alt=""
                  src="{% static 'css/public/headerprevbtn6.svg' %}"
                /><img
                  class="header-super-next-btn-icon6"
                  alt=""
                  src="{% static 'css/public/headersupernextbtn6.svg' %}"
                /><img
                  class="header-next-btn-icon6"
                  alt=""
                  src="{% static 'css/public/headernextbtn6.svg' %}"
                />
                <div class="header-view8">
                  <div class="placeholder-left12">Oct</div>
                  <div class="placeholder-left12">2021</div>
                </div>
              </div>
              <div class="picker-body8">
                <div class="picker-content6">
                  <div class="tr42">
                    <div class="mon6">Mon</div>
                    <div class="mon6">Tue</div>
                    <div class="mon6">Wed</div>
                    <div class="mon6">Thu</div>
                    <div class="mon6">Fri</div>
                    <div class="mon6">Sat</div>
                    <div class="mon6">Sun</div>
                  </div>
                  <div class="tr43">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">26</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">27</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">28</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">29</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">30</div>
                    </div>
                    <div class="componentspicker-cellmonth257">
                      <div class="placeholder-left12">1</div>
                    </div>
                    <div class="componentspicker-cellmonth257">
                      <div class="placeholder-left12">2</div>
                    </div>
                  </div>
                  <div class="tr44">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">3</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">4</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">5</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">6</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">7</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">8</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">9</div>
                    </div>
                  </div>
                  <div class="tr44">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">10</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">11</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">12</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">13</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">14</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">15</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">16</div>
                    </div>
                  </div>
                  <div class="tr44">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">17</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">18</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">19</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">20</div>
                    </div>
                    <div class="componentspicker-cellmonth277">
                      <div class="placeholder-left12">21</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">22</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">23</div>
                    </div>
                  </div>
                  <div class="tr44">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">24</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">25</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">26</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">27</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">28</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">29</div>
                    </div>
                    <div class="componentspicker-cellmonth286">
                      <div class="placeholder-left12">30</div>
                    </div>
                  </div>
                  <div class="tr43">
                    <div class="componentspicker-cellmonth257">
                      <div class="placeholder-left12">31</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">1</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">2</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">3</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">4</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">5</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">6</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="picker-panelfooter8">
                <div class="footer-extra14">
                  <div class="button37">
                    <div class="icon123">
                      <div class="width-change-size-here408">
                        <div class="ignore2008"></div>
                        <div class="ignore2008"></div>
                      </div>
                      <div class="icon-wrapper-h408">
                        <div class="height-change-size-here406">
                          <div class="ignore2008"></div>
                          <div class="ignore2008"></div>
                        </div>
                        <img
                          class="icon-wrapper649"
                          alt=""
                          src="{% static 'css/public/iconwrapper397.svg' %}"
                        />
                      </div>
                    </div>
                    <div class="text864">
                      <div class="placeholder-left12">Button Title</div>
                    </div>
                    <div class="icon123">
                      <div class="width-change-size-here408">
                        <div class="ignore2008"></div>
                        <div class="ignore2008"></div>
                      </div>
                      <div class="icon-wrapper-h408">
                        <div class="height-change-size-here406">
                          <div class="ignore2008"></div>
                          <div class="ignore2008"></div>
                        </div>
                        <img
                          class="icon-wrapper649"
                          alt=""
                          src="{% static 'css/public/iconwrapper398.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer14">
                  <div class="placeholder276">
                    <div class="text864">
                      <div class="placeholder-left12">Now</div>
                    </div>
                  </div>
                  <div class="button38">
                    <div class="icon123">
                      <div class="width-change-size-here408">
                        <div class="ignore2008"></div>
                        <div class="ignore2008"></div>
                      </div>
                      <div class="icon-wrapper-h408">
                        <div class="height-change-size-here406">
                          <div class="ignore2008"></div>
                          <div class="ignore2008"></div>
                        </div>
                        <img
                          class="icon-wrapper649"
                          alt=""
                          src="{% static 'css/public/iconwrapper399.svg' %}"
                        />
                      </div>
                    </div>
                    <div class="text864">
                      <div class="placeholder-left12">Ok</div>
                    </div>
                    <div class="icon123">
                      <div class="width-change-size-here408">
                        <div class="ignore2008"></div>
                        <div class="ignore2008"></div>
                      </div>
                      <div class="icon-wrapper-h408">
                        <div class="height-change-size-here406">
                          <div class="ignore2008"></div>
                          <div class="ignore2008"></div>
                        </div>
                        <img
                          class="icon-wrapper649"
                          alt=""
                          src="{% static 'css/public/iconwrapper400.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-extra15">
                <div class="text864">
                  <div class="placeholder-left12">extra footer</div>
                </div>
              </div>
              <div class="footer15">
                <div class="placeholder-left12">Today</div>
              </div>
            </div>
          </div>
        </div>
        <div class="date-picker7">
          <div class="wrapper103">
            <div class="placeholder276">
              <div class="placeholder-left12">Select date</div>
            </div>
            <div class="spacer97">
              <div class="ignore2008"></div>
              <div class="ignore2008"></div>
            </div>
            <div class="input-affix12">
              <div class="icon-wrapper648">
                <div class="width-change-size-here410">
                  <div class="ignore2008"></div>
                  <div class="ignore2008"></div>
                </div>
                <div class="icon-wrapper-h408">
                  <div class="height-change-size-here408">
                    <div class="ignore2008"></div>
                    <div class="ignore2008"></div>
                  </div>
                  <img
                    class="icon-wrapper649"
                    alt=""
                    src="{% static 'css/public/iconwrapper401.svg' %}"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="box8"></div>
          <div class="zero-height52">
            <div class="date-picker-dropdown6">
              <div class="arrow8">
                <img
                  class="arrow-head-icon8"
                  alt=""
                  src="{% static 'css/public/arrowhead8.svg' %}"
                />
              </div>
              <div class="picker-header6">
                <img
                  class="header-super-prev-btn-icon6"
                  alt=""
                  src="{% static 'css/public/headersuperprevbtn6.svg' %}"
                /><img
                  class="header-prev-btn-icon6"
                  alt=""
                  src="{% static 'css/public/headerprevbtn6.svg' %}"
                /><img
                  class="header-super-next-btn-icon6"
                  alt=""
                  src="{% static 'css/public/headersupernextbtn7.svg' %}"
                /><img
                  class="header-next-btn-icon6"
                  alt=""
                  src="{% static 'css/public/headernextbtn7.svg' %}"
                />
                <div class="header-view8">
                  <div class="placeholder-left12">Oct</div>
                  <div class="placeholder-left12">2021</div>
                </div>
              </div>
              <div class="picker-body8">
                <div class="picker-content6">
                  <div class="tr42">
                    <div class="mon6">Mon</div>
                    <div class="mon6">Tue</div>
                    <div class="mon6">Wed</div>
                    <div class="mon6">Thu</div>
                    <div class="mon6">Fri</div>
                    <div class="mon6">Sat</div>
                    <div class="mon6">Sun</div>
                  </div>
                  <div class="tr43">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">26</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">27</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">28</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">29</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">30</div>
                    </div>
                    <div class="componentspicker-cellmonth257">
                      <div class="placeholder-left12">1</div>
                    </div>
                    <div class="componentspicker-cellmonth257">
                      <div class="placeholder-left12">2</div>
                    </div>
                  </div>
                  <div class="tr44">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">3</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">4</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">5</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">6</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">7</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">8</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">9</div>
                    </div>
                  </div>
                  <div class="tr44">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">10</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">11</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">12</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">13</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">14</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">15</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">16</div>
                    </div>
                  </div>
                  <div class="tr44">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">17</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">18</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">19</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">20</div>
                    </div>
                    <div class="componentspicker-cellmonth277">
                      <div class="placeholder-left12">21</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">22</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">23</div>
                    </div>
                  </div>
                  <div class="tr44">
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">24</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">25</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">26</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">27</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">28</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">29</div>
                    </div>
                    <div class="componentspicker-cellmonth286">
                      <div class="placeholder-left12">30</div>
                    </div>
                  </div>
                  <div class="tr43">
                    <div class="componentspicker-cellmonth257">
                      <div class="placeholder-left12">31</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">1</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">2</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">3</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">4</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">5</div>
                    </div>
                    <div class="componentspicker-cellmonth252">
                      <div class="placeholder-left12">6</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="picker-panelfooter8">
                <div class="footer-extra14">
                  <div class="button37">
                    <div class="icon123">
                      <div class="width-change-size-here408">
                        <div class="ignore2008"></div>
                        <div class="ignore2008"></div>
                      </div>
                      <div class="icon-wrapper-h408">
                        <div class="height-change-size-here406">
                          <div class="ignore2008"></div>
                          <div class="ignore2008"></div>
                        </div>
                        <img
                          class="icon-wrapper649"
                          alt=""
                          src="{% static 'css/public/iconwrapper402.svg' %}"
                        />
                      </div>
                    </div>
                    <div class="text864">
                      <div class="placeholder-left12">Button Title</div>
                    </div>
                    <div class="icon123">
                      <div class="width-change-size-here408">
                        <div class="ignore2008"></div>
                        <div class="ignore2008"></div>
                      </div>
                      <div class="icon-wrapper-h408">
                        <div class="height-change-size-here406">
                          <div class="ignore2008"></div>
                          <div class="ignore2008"></div>
                        </div>
                        <img
                          class="icon-wrapper649"
                          alt=""
                          src="{% static 'css/public/iconwrapper403.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer14">
                  <div class="placeholder276">
                    <div class="text864">
                      <div class="placeholder-left12">Now</div>
                    </div>
                  </div>
                  <div class="button38">
                    <div class="icon123">
                      <div class="width-change-size-here408">
                        <div class="ignore2008"></div>
                        <div class="ignore2008"></div>
                      </div>
                      <div class="icon-wrapper-h408">
                        <div class="height-change-size-here406">
                          <div class="ignore2008"></div>
                          <div class="ignore2008"></div>
                        </div>
                        <img
                          class="icon-wrapper649"
                          alt=""
                          src="{% static 'css/public/iconwrapper404.svg' %}"
                        />
                      </div>
                    </div>
                    <div class="text864">
                      <div class="placeholder-left12">Ok</div>
                    </div>
                    <div class="icon123">
                      <div class="width-change-size-here408">
                        <div class="ignore2008"></div>
                        <div class="ignore2008"></div>
                      </div>
                      <div class="icon-wrapper-h408">
                        <div class="height-change-size-here406">
                          <div class="ignore2008"></div>
                          <div class="ignore2008"></div>
                        </div>
                        <img
                          class="icon-wrapper649"
                          alt=""
                          src="{% static 'css/public/iconwrapper405.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-extra15">
                <div class="text864">
                  <div class="placeholder-left12">extra footer</div>
                </div>
              </div>
              <div class="footer15">
                <div class="placeholder-left12">Today</div>
              </div>
            </div>
          </div>
        </div>
        <div class="badge134"><b class="text876">Submit</b></div>
        <div class="avatar14">
          <img
            class="avatar-placeholder-change-i"
            alt=""
            src="{% static 'css/public/avatarplaceholder--change-image-here@2x.png' %}"
          />
          <div class="aspect-ratio-keeper-addition">
            <div class="aspect-ratio-keeper-rotated"></div>
          </div>
        </div>
        <b class="current-delegated">Current Delegated </b>
        <div class="name14">Rami Saeed</div>
        <div class="name15">example@jedco.com</div>
      </div>
      <div class="unresolved1">
        <div class="cards-default36">
          <div class="sheet49"></div>
          <b class="authorized-employee">Authorized Employee </b>
          <div class="dropdown-trigger6">
            <div class="button41">
              <div class="icon123">
                <div class="width-change-size-here408">
                  <div class="ignore2008"></div>
                  <div class="ignore2008"></div>
                </div>
                <div class="icon-wrapper-h408">
                  <div class="height-change-size-here406">
                    <div class="ignore2008"></div>
                    <div class="ignore2008"></div>
                  </div>
                  <img
                    class="icon-wrapper649"
                    alt=""
                    src="{% static 'css/public/iconwrapper406.svg' %}"
                  />
                </div>
              </div>
              <div class="text864">
                <div class="placeholder-left12">Department</div>
              </div>
              <div class="icon123">
                <div class="width-change-size-here408">
                  <div class="ignore2008"></div>
                  <div class="ignore2008"></div>
                </div>
                <div class="icon-wrapper-h408">
                  <div class="height-change-size-here406">
                    <div class="ignore2008"></div>
                    <div class="ignore2008"></div>
                  </div>
                  <img
                    class="icon-wrapper649"
                    alt=""
                    src="{% static 'css/public/iconwrapper407.svg' %}"
                  />
                </div>
              </div>
            </div>
            <div class="dropdown-toggle6">
              <div class="icon-wrapper648">
                <div class="width-change-size-here422">
                  <div class="ignore2008"></div>
                  <div class="ignore2008"></div>
                </div>
                <div class="icon-wrapper-h408">
                  <div class="height-change-size-here420">
                    <div class="ignore2008"></div>
                    <div class="ignore2008"></div>
                  </div>
                  <img
                    class="icon-wrapper649"
                    alt=""
                    src="{% static 'css/public/iconwrapper408.svg' %}"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="avatar15">
            <img
              class="avatar-placeholder-change-i"
              alt=""
              src="{% static 'css/public/avatarplaceholder--change-image-here@2x.png' %}"
            />
            <div class="aspect-ratio-keeper-addition">
              <div class="aspect-ratio-keeper-rotated"></div>
            </div>
          </div>
          <div class="name16">Rami Saeed</div>
          <div class="name17">example@jedco.com</div>
          <div class="avatar16">
            <img
              class="avatar-placeholder-change-i"
              alt=""
              src="{% static 'css/public/avatarplaceholder--change-image-here@2x.png' %}"
            />
            <div class="aspect-ratio-keeper-addition">
              <div class="aspect-ratio-keeper-rotated"></div>
            </div>
          </div>
          <div class="name18">Rami Saeed</div>
          <div class="name19">example@jedco.com</div>
          <div class="avatar17">
            <img
              class="avatar-placeholder-change-i"
              alt=""
              src="{% static 'css/public/avatarplaceholder--change-image-here@2x.png' %}"
            />
            <div class="aspect-ratio-keeper-addition">
              <div class="aspect-ratio-keeper-rotated"></div>
            </div>
          </div>
          <div class="name20">Rami Saeed</div>
          <div class="name21">example@jedco.com</div>
        </div>
      </div>
      <div class="header-default14">
        <div class="avatar18">
          <div class="wrapper105">
            <div class="icon-wrapper648">
              <div class="width-change-size-here423">
                <div class="ignore2008"></div>
                <div class="ignore2008"></div>
              </div>
              <div class="icon-wrapper-h408">
                <div class="height-change-size-here421">
                  <div class="ignore2008"></div>
                  <div class="ignore2008"></div>
                </div>
                <img
                  class="icon-wrapper649"
                  alt=""
                  src="{% static 'css/public/iconwrapper409.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="name22">Naser Hamed</div>
        <img
          class="divider-line-vertical14"
          alt=""
          src="{% static 'css/public/divider--line--vertical.svg' %}"
        /><img
          class="icon-notifications-new14"
          alt=""
          src="{% static 'css/public/icon--notifications--new14.svg' %}"
        />
      </div>
      <div class="sidebar-desktop14">
        <div class="sidebar-list-active21" id="sidebarListActive">
          <img class="sheet-icon18" alt="" src="{% static 'css/public/sheet.svg' %}" />
          <div class="selected21"></div>
          <div class="title153">Overview</div>
          <img
            class="icon-sidebar-active-1-o1"
            alt=""
            src="{% static 'css/public/icon--sidebar--active--1-overview1.svg' %}"
          />
        </div>
        <div class="sidebar-list-inactive33" id="sidebarListInactive">
          <div class="title153">Requests</div>
          <img
            class="icon-sidebar-active-1-o1"
            alt=""
            src="{% static 'css/public/icon--sidebar--inactive--2-tickets.svg' %}"
          />
        </div>
        <div class="sidebar-list-inactive34">
          <div class="title153">Contact</div>
          <img
            class="icon-sidebar-active-1-o1"
            alt=""
            src="{% static 'css/public/icon--sidebar--inactive--4-contacts9.svg' %}"
          /><img class="sheet-icon19" alt="" src="{% static 'css/public/sheet.svg' %}" />
          <div class="selected22"></div>
        </div>
        <div class="title156">Log out</div>
        <div class="sidebar-list-inactive35"></div>
        <img
          class="icon-sidebar-inactive-a-14"
          alt=""
          src="{% static 'css/public/icon--sidebar--inactive--a-1-settings14.svg' %}"
        /><img
          class="divider-line-horizontal94"
          alt=""
          src="{% static 'css/public/divider--line--horizontal.svg' %}"
        /><img class="image-1-icon17" alt="" src="{% static 'css/public/image-1@2x.png' %}" />
      </div>
      <div class="title157">
        <div class="placeholder-left12">Enter Email or Username</div>
      </div>
      <div class="title158"><div class="placeholder-left12">From</div></div>
      <div class="title159"><div class="placeholder-left12">To</div></div>
      <div class="badge135"><b class="text876">Cancel</b></div>
    </div>

    <script>
      var sidebarListActive = document.getElementById("sidebarListActive");
      if (sidebarListActive) {
        sidebarListActive.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var sidebarListInactive = document.getElementById("sidebarListInactive");
      if (sidebarListInactive) {
        sidebarListInactive.addEventListener("click", function (e) {
          window.location.href = "./ProviderViewRequests.html";
        });
      }
      </script>
  </body>
</html>
