{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ProviderOverview.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="provider-overview1">
      <img class="bg-icon15" alt="" src="{% static 'css/public/bg15.svg' %}" data-scroll-to="bg" />
      <div class="cards1">
        <div class="unresolved2" id="unresolvedContainer">
          <div class="cards-default38"><div class="sheet51"></div></div>
          <b class="on-hold1">On Hold</b><b class="b3">60</b>
        </div>
        <div class="overdue1" id="overdueContainer">
          <div class="cards-default38">
            <div class="stroke1"></div>
            <div class="sheet52"></div>
          </div>
          <b class="on-hold1">Clearance</b><b class="b4">43</b>
        </div>
        <div class="open2">
          <div class="cards-default39" id="cardsDefault1">
            <div class="sheet51"></div>
          </div>
          <b class="on-hold1">Expire Soon</b><b class="b3">16</b>
        </div>
      </div>
      <div class="header-default15">
        <div class="avatar19">
          <div class="wrapper106">
            <div class="icon-wrapper669">
              <div class="width-change-size-here424">
                <div class="ignore2078"></div>
                <div class="ignore2078"></div>
              </div>
              <div class="icon-wrapper-h424">
                <div class="height-change-size-here422">
                  <div class="ignore2078"></div>
                  <div class="ignore2078"></div>
                </div>
                <img
                  class="icon-wrapper670"
                  alt=""
                  src="{% static 'css/public/iconwrapper169.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="name23">Naser Hamed</div>
        <img
          class="divider-line-vertical15"
          alt=""
          src="{% static 'css/public/divider--line--vertical.svg' %}"
        /><img
          class="icon-notifications-new15"
          alt=""
          src="{% static 'css/public/icon--notifications--new15.svg' %}"
        />
      </div>
      <div class="sidebar-desktop15">
        <div class="sidebar-list-active22" id="sidebarListActive">
          <img class="sheet-icon20" alt="" src="{% static 'css/public/sheet.svg' %}" />
          <div class="selected23"></div>
          <div class="title160">Overview</div>
          <img
            class="icon-sidebar-active-1-o2"
            alt=""
            src="{% static 'css/public/icon--sidebar--active--1-overview2.svg' %}"
          />
        </div>
        <div class="sidebar-list-inactive36" id="sidebarListInactive">
          <div class="title160">Requests</div>
          <img
            class="icon-sidebar-active-1-o2"
            alt=""
            src="{% static 'css/public/icon--sidebar--inactive--2-tickets1.svg' %}"
          />
        </div>
        <div class="sidebar-list-inactive37" id="sidebarListInactive1">
          <div class="title160">Contact</div>
          <img
            class="icon-sidebar-active-1-o2"
            alt=""
            src="{% static 'css/public/icon--sidebar--inactive--4-contacts.svg' %}"
          />
        </div>
        <div class="title163">Log out</div>
        <div class="sidebar-list-inactive38"></div>
        <img
          class="icon-sidebar-inactive-a-15"
          alt=""
          src="{% static 'css/public/icon--sidebar--inactive--a-1-settings15.svg' %}"
        /><img
          class="divider-line-horizontal95"
          alt=""
          src="{% static 'css/public/divider--line--horizontal.svg' %}"
        />
      </div>
      <img class="image-1-icon18" alt="" src="{% static 'css/public/image-1@2x.png' %}" />
      <div class="group-div16">
        <div class="filter14">
          <div class="filter15">Filter</div>
          <img class="icon-filter7" alt="" src="{% static 'css/public/icon--filter.svg' %}" />
        </div>
        <div class="sort14">
          <div class="filter15">Sort</div>
          <img class="icon-sort7" alt="" src="{% static 'css/public/icon--sort.svg' %}" />
        </div>
        <div class="sheet54"></div>
        <div class="content81">
          <div class="date-customer34">External</div>
          <div class="customer-name40">Company X</div>
        </div>
        <div class="content82">
          <div class="date-label34">#RQ00002</div>
          <div class="date-label35">#RQ00001</div>
          <div class="date-customer35">Internal</div>
          <div class="date-customer36">Internal</div>
          <div class="date-customer37">Internal</div>
          <div class="customer-name41">Department X</div>
          <div class="customer-name42">Department X</div>
          <div class="customer-name43">Department X</div>
        </div>
        <div class="content83">
          <div class="date-label36">#RQ00002</div>
          <div class="date-label37">#RQ00001</div>
          <div class="date-customer38">Internal</div>
          <div class="customer-name44">Department X</div>
        </div>
        <div class="date-label38">#RQ00002</div>
        <div class="date-label39">#RQ00001</div>
        <div class="date-customer39">Internal</div>
        <div class="customer-name45">Department X</div>
        <div class="divider-line-horizontal96"></div>
        <img
          class="divider-line-horizontal97"
          alt=""
          src="{% static 'css/public/divider--line--horizontal1.svg' %}"
        /><img
          class="divider-line-horizontal98"
          alt=""
          src="{% static 'css/public/divider--line--horizontal2.svg' %}"
        /><img
          class="divider-line-horizontal99"
          alt=""
          src="{% static 'css/public/divider--line--horizontal95.svg' %}"
        /><img
          class="divider-line-horizontal100"
          alt=""
          src="{% static 'css/public/divider--line--horizontal96.svg' %}"
        /><img
          class="divider-line-horizontal101"
          alt=""
          src="{% static 'css/public/divider--line--horizontal95.svg' %}"
        /><b class="recent-requests1">Recent Requests</b>
      </div>
    </div>

    <script>
      var unresolvedContainer = document.getElementById("unresolvedContainer");
      if (unresolvedContainer) {
        unresolvedContainer.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var overdueContainer = document.getElementById("overdueContainer");
      if (overdueContainer) {
        overdueContainer.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='bg']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var cardsDefault1 = document.getElementById("cardsDefault1");
      if (cardsDefault1) {
        cardsDefault1.addEventListener("click", function (e) {
          window.location.href = "./ProviderOverview1.html";
        });
      }
      
      var sidebarListActive = document.getElementById("sidebarListActive");
      if (sidebarListActive) {
        sidebarListActive.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var sidebarListInactive = document.getElementById("sidebarListInactive");
      if (sidebarListInactive) {
        sidebarListInactive.addEventListener("click", function (e) {
          window.location.href = "./ProviderViewRequests.html";
        });
      }
      
      var sidebarListInactive1 = document.getElementById("sidebarListInactive1");
      if (sidebarListInactive1) {
        sidebarListInactive1.addEventListener("click", function (e) {
          window.location.href = "./Delegation.html";
        });
      }
      </script>
  </body>
</html>
