{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css'%}" />
    <link rel="stylesheet" href="{% static 'css/ProviderOverview1.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="provider-overview2">
      <img class="bg-icon16" alt="" src="{% static 'css/public/bg16.svg' %}" />
      <div class="cards2">
        <div class="unresolved3" id="unresolvedContainer">
          <div class="cards-default40"><div class="sheet55"></div></div>
          <b class="on-hold2">On Hold</b><b class="b6">60</b>
        </div>
        <div class="open3">
          <div class="cards-default40"><div class="sheet55"></div></div>
          <b class="on-hold2">Clearance</b><b class="b6">43</b>
        </div>
        <div class="open4">
          <div class="cards-default42" id="cardsDefault2">
            <div class="sheet57"></div>
          </div>
          <b class="on-hold2">Expire Soon</b><b class="b6">16</b>
        </div>
      </div>
      <div class="header-default16">
        <div class="avatar20">
          <div class="wrapper107">
            <div class="icon-wrapper671">
              <div class="width-change-size-here425">
                <div class="ignore2082"></div>
                <div class="ignore2082"></div>
              </div>
              <div class="icon-wrapper-h425">
                <div class="height-change-size-here423">
                  <div class="ignore2082"></div>
                  <div class="ignore2082"></div>
                </div>
                <img
                  class="icon-wrapper672"
                  alt=""
                  src="{% static 'css/public/iconwrapper.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="name24">Naser Hamed</div>
        <img
          class="divider-line-vertical16"
          alt=""
          src="{% static 'css/public/divider--line--vertical.svg' %}"
        /><img
          class="icon-notifications-new16"
          alt=""
          src="{% static 'css/public/icon--notifications--new16.svg' %}"
        />
      </div>
      <div class="sidebar-desktop16">
        <div class="sidebar-list-active23">
          <img class="sheet-icon21" alt="" src="{% static 'css/public/sheet.svg' %}" />
          <div class="selected24"></div>
          <div class="title164" id="titleText">Overview</div>
          <img
            class="icon-sidebar-active-1-o3"
            alt=""
            src="{% static 'css/public/icon--sidebar--active--1-overview3.svg' %}"
          />
        </div>
        <div class="sidebar-list-inactive39" id="sidebarListInactive">
          <div class="title164" id="titleText1">Requests</div>
          <img
            class="icon-sidebar-active-1-o3"
            alt=""
            src="{% static 'css/public/icon--sidebar--inactive--2-tickets1.svg' %}"
          />
        </div>
        <div class="sidebar-list-inactive40" id="sidebarListInactive1">
          <div class="title166">Contact</div>
          <img
            class="icon-sidebar-active-1-o3"
            alt=""
            src="{% static 'css/public/icon--sidebar--inactive--4-contacts.svg' %}"
          />
        </div>
        <div class="title167">Log out</div>
        <div class="sidebar-list-inactive41"></div>
        <img
          class="icon-sidebar-inactive-a-16"
          alt=""
          src="{% static 'css/public/icon--sidebar--inactive--a-1-settings16.svg' %}"
        /><img
          class="divider-line-horizontal102"
          alt=""
          src="{% static 'css/public/divider--line--horizontal.svg' %}"
        />
      </div>
      <img class="image-1-icon19" alt="" src="{% static 'css/public/image-1@2x.png' %}" />
      <div class="group-div17">
        <div class="filter16">
          <div class="filter17">Filter</div>
          <img class="icon-filter8" alt="" src="{% static 'css/public/icon--filter.svg' %}" />
        </div>
        <div class="sort16">
          <div class="filter17">Sort</div>
          <img class="icon-sort8" alt="" src="{% static 'css/public/icon--sort.svg' %}" />
        </div>
        <div class="sheet58"></div>
        <div class="content84">
          <div class="date-customer40">External</div>
          <div class="customer-name46">Company X</div>
        </div>
        <div class="content85">
          <div class="date-label40">#RQ00002</div>
          <div class="date-label41">#RQ00001</div>
          <div class="date-customer41">Internal</div>
          <div class="date-customer42">Internal</div>
          <div class="date-customer43">Internal</div>
          <div class="customer-name47">Department X</div>
          <div class="customer-name48">Department X</div>
          <div class="customer-name49">Department X</div>
        </div>
        <div class="content86">
          <div class="date-label42">#RQ00002</div>
          <div class="date-label43">#RQ00001</div>
          <div class="date-customer44">Internal</div>
          <div class="customer-name50">Department X</div>
        </div>
        <div class="date-label44">#RQ00002</div>
        <div class="date-label45">#RQ00001</div>
        <div class="date-customer45">Internal</div>
        <div class="customer-name51">Department X</div>
        <div class="divider-line-horizontal103"></div>
        <img
          class="divider-line-horizontal104"
          alt=""
          src="{% static 'css/public/divider--line--horizontal1.svg' %}"
        /><img
          class="divider-line-horizontal105"
          alt=""
          src="{% static 'css/public/divider--line--horizontal2.svg' %}"
        /><img
          class="divider-line-horizontal106"
          alt=""
          src="{% static 'css/public/divider--line--horizontal95.svg' %}"
        /><img
          class="divider-line-horizontal107"
          alt=""
          src="{% static 'css/public/divider--line--horizontal96.svg' %}"
        /><img
          class="divider-line-horizontal108"
          alt=""
          src="{% static 'css/public/divider--line--horizontal95.svg' %}"
        /><b class="recent-requests2">Recent Requests</b>
      </div>
    </div>

    <script>
      var unresolvedContainer = document.getElementById("unresolvedContainer");
      if (unresolvedContainer) {
        unresolvedContainer.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var cardsDefault2 = document.getElementById("cardsDefault2");
      if (cardsDefault2) {
        cardsDefault2.addEventListener("click", function (e) {
          window.location.href = "./ProviderOverview1.html";
        });
      }
      
      var titleText = document.getElementById("titleText");
      if (titleText) {
        titleText.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var titleText1 = document.getElementById("titleText1");
      if (titleText1) {
        titleText1.addEventListener("click", function (e) {
          window.location.href = "./ProviderViewRequests.html";
        });
      }
      
      var sidebarListInactive = document.getElementById("sidebarListInactive");
      if (sidebarListInactive) {
        sidebarListInactive.addEventListener("click", function (e) {
          window.location.href = "./ProviderViewRequests.html";
        });
      }
      
      var sidebarListInactive1 = document.getElementById("sidebarListInactive1");
      if (sidebarListInactive1) {
        sidebarListInactive1.addEventListener("click", function (e) {
          window.location.href = "./Delegation.html";
        });
      }
      </script>
  </body>
</html>
