{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css'%}" />
    <link rel="stylesheet" href="{% static 'css/Register1.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="register1">
      <div class="log-in2">
        <div class="group-div4">
          <div class="content5">
            <div class="form3">
              <div class="form-item12">
                <div class="label12">
                  <div class="title15">
                    <div class="text47">First Name</div>
                  </div>
                  <div class="required12"><div class="text47">*</div></div>
                </div>
                <div class="input12">
                  <div class="input-base12">
                    <div class="placeholder26">
                      <div class="input-prefix13">
                        <div class="icon-wrapper67">
                          <div class="width-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <div class="icon-wrapper-h38">
                            <div class="height-change-size-here38">
                              <div class="ignore182"></div>
                              <div class="ignore182"></div>
                            </div>
                            <img
                              class="icon-wrapper68"
                              alt=""
                              src="{% static 'css/public/iconwrapper38.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="text47">Enter your first name</div>
                    </div>
                    <div class="spacer13">
                      <div class="ignore182"></div>
                      <div class="ignore182"></div>
                    </div>
                    <div class="input-prefix13">
                      <div class="icon-wrapper67">
                        <div class="width-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <div class="icon-wrapper-h38">
                          <div class="height-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <img
                            class="icon-wrapper68"
                            alt=""
                            src="{% static 'css/public/iconwrapper39.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item13">
                <div class="label12">
                  <div class="title15">
                    <div class="text47">Employee ID</div>
                  </div>
                  <div class="required12"><div class="text47">*</div></div>
                </div>
                <div class="input12">
                  <div class="input-base12">
                    <div class="placeholder26">
                      <div class="input-prefix13">
                        <div class="icon-wrapper67">
                          <div class="width-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <div class="icon-wrapper-h38">
                            <div class="height-change-size-here38">
                              <div class="ignore182"></div>
                              <div class="ignore182"></div>
                            </div>
                            <img
                              class="icon-wrapper68"
                              alt=""
                              src="{% static 'css/public/iconwrapper38.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="text47">Enter your ID</div>
                    </div>
                    <div class="spacer13">
                      <div class="ignore182"></div>
                      <div class="ignore182"></div>
                    </div>
                    <div class="input-prefix13">
                      <div class="icon-wrapper67">
                        <div class="width-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <div class="icon-wrapper-h38">
                          <div class="height-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <img
                            class="icon-wrapper68"
                            alt=""
                            src="{% static 'css/public/iconwrapper41.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item14">
                <div class="label12">
                  <div class="title15"><div class="text47">Password</div></div>
                  <div class="required12"><div class="text47">*</div></div>
                </div>
                <div class="password5">
                  <div class="input14">
                    <div class="input-base12">
                      <div class="placeholder26">
                        <div class="input-prefix13">
                          <div class="icon-wrapper67">
                            <div class="width-change-size-here38">
                              <div class="ignore182"></div>
                              <div class="ignore182"></div>
                            </div>
                            <div class="icon-wrapper-h38">
                              <div class="height-change-size-here38">
                                <div class="ignore182"></div>
                                <div class="ignore182"></div>
                              </div>
                              <img
                                class="icon-wrapper68"
                                alt=""
                                src="{% static 'css/public/iconwrapper38.svg' %}"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="text47">Password</div>
                      </div>
                      <div class="spacer15">
                        <div class="ignore182"></div>
                        <div class="ignore182"></div>
                      </div>
                      <div class="input-suffix15">
                        <div class="icon-wrapper67">
                          <div class="width-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <div class="icon-wrapper-h38">
                            <div class="height-change-size-here38">
                              <div class="ignore182"></div>
                              <div class="ignore182"></div>
                            </div>
                            <img
                              class="icon-wrapper68"
                              alt=""
                              src="{% static 'css/public/iconwrapper43.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-item15">
              <div class="label12">
                <div class="title15"><div class="text47">Email</div></div>
                <div class="required12"><div class="text47">*</div></div>
              </div>
              <div class="input12">
                <div class="input-base12">
                  <div class="placeholder26">
                    <div class="input-prefix13">
                      <div class="icon-wrapper67">
                        <div class="width-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <div class="icon-wrapper-h38">
                          <div class="height-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <img
                            class="icon-wrapper68"
                            alt=""
                            src="{% static 'css/public/iconwrapper38.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="text47">Enter your email</div>
                  </div>
                  <div class="spacer13">
                    <div class="ignore182"></div>
                    <div class="ignore182"></div>
                  </div>
                  <div class="input-prefix13">
                    <div class="icon-wrapper67">
                      <div class="width-change-size-here38">
                        <div class="ignore182"></div>
                        <div class="ignore182"></div>
                      </div>
                      <div class="icon-wrapper-h38">
                        <div class="height-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <img
                          class="icon-wrapper68"
                          alt=""
                          src="{% static 'css/public/iconwrapper45.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-item16">
          <div class="label12">
            <div class="title15"><div class="text47">Password</div></div>
            <div class="required12"><div class="text47">*</div></div>
          </div>
          <div class="password5">
            <div class="input14">
              <div class="input-base12">
                <div class="placeholder26">
                  <div class="input-prefix13">
                    <div class="icon-wrapper67">
                      <div class="width-change-size-here38">
                        <div class="ignore182"></div>
                        <div class="ignore182"></div>
                      </div>
                      <div class="icon-wrapper-h38">
                        <div class="height-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <img
                          class="icon-wrapper68"
                          alt=""
                          src="{% static 'css/public/iconwrapper38.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="text47">Password</div>
                </div>
                <div class="spacer15">
                  <div class="ignore182"></div>
                  <div class="ignore182"></div>
                </div>
                <div class="input-suffix15">
                  <div class="icon-wrapper67">
                    <div class="width-change-size-here38">
                      <div class="ignore182"></div>
                      <div class="ignore182"></div>
                    </div>
                    <div class="icon-wrapper-h38">
                      <div class="height-change-size-here38">
                        <div class="ignore182"></div>
                        <div class="ignore182"></div>
                      </div>
                      <img
                        class="icon-wrapper68"
                        alt=""
                        src="{% static 'css/public/iconwrapper47.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-div5">
          <div class="content6">
            <div class="form3">
              <div class="form-item12">
                <div class="label12">
                  <div class="title15"><div class="text47">Last Name</div></div>
                  <div class="required12"><div class="text47">*</div></div>
                </div>
                <div class="input12">
                  <div class="input-base12">
                    <div class="placeholder26">
                      <div class="input-prefix13">
                        <div class="icon-wrapper67">
                          <div class="width-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <div class="icon-wrapper-h38">
                            <div class="height-change-size-here38">
                              <div class="ignore182"></div>
                              <div class="ignore182"></div>
                            </div>
                            <img
                              class="icon-wrapper68"
                              alt=""
                              src="{% static 'css/public/iconwrapper38.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="text47">Enter your last name</div>
                    </div>
                    <div class="spacer13">
                      <div class="ignore182"></div>
                      <div class="ignore182"></div>
                    </div>
                    <div class="input-prefix13">
                      <div class="icon-wrapper67">
                        <div class="width-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <div class="icon-wrapper-h38">
                          <div class="height-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <img
                            class="icon-wrapper68"
                            alt=""
                            src="{% static 'css/public/iconwrapper49.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item13">
                <div class="label12">
                  <div class="title15">
                    <div class="text47">Department</div>
                  </div>
                  <div class="required12"><div class="text47">*</div></div>
                </div>
                <div class="input12">
                  <div class="input-base12">
                    <div class="placeholder26">
                      <div class="input-prefix13">
                        <div class="icon-wrapper67">
                          <div class="width-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <div class="icon-wrapper-h38">
                            <div class="height-change-size-here38">
                              <div class="ignore182"></div>
                              <div class="ignore182"></div>
                            </div>
                            <img
                              class="icon-wrapper68"
                              alt=""
                              src="{% static 'css/public/iconwrapper38.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="text47">Select your department name</div>
                    </div>
                    <div class="spacer13">
                      <div class="ignore182"></div>
                      <div class="ignore182"></div>
                    </div>
                    <div class="input-prefix13">
                      <div class="icon-wrapper67">
                        <div class="width-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <div class="icon-wrapper-h38">
                          <div class="height-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <img
                            class="icon-wrapper68"
                            alt=""
                            src="{% static 'css/public/iconwrapper51.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item14">
                <div class="label12">
                  <div class="title15"><div class="text47">Password</div></div>
                  <div class="required12"><div class="text47">*</div></div>
                </div>
                <div class="password5">
                  <div class="input14">
                    <div class="input-base12">
                      <div class="placeholder26">
                        <div class="input-prefix13">
                          <div class="icon-wrapper67">
                            <div class="width-change-size-here38">
                              <div class="ignore182"></div>
                              <div class="ignore182"></div>
                            </div>
                            <div class="icon-wrapper-h38">
                              <div class="height-change-size-here38">
                                <div class="ignore182"></div>
                                <div class="ignore182"></div>
                              </div>
                              <img
                                class="icon-wrapper68"
                                alt=""
                                src="{% static 'css/public/iconwrapper38.svg' %}"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="text47">Password</div>
                      </div>
                      <div class="spacer15">
                        <div class="ignore182"></div>
                        <div class="ignore182"></div>
                      </div>
                      <div class="input-suffix15">
                        <div class="icon-wrapper67">
                          <div class="width-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <div class="icon-wrapper-h38">
                            <div class="height-change-size-here38">
                              <div class="ignore182"></div>
                              <div class="ignore182"></div>
                            </div>
                            <img
                              class="icon-wrapper68"
                              alt=""
                              src="{% static 'css/public/iconwrapper53.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-item15">
              <div class="label12">
                <div class="title15">
                  <div class="text47">Phone Number</div>
                </div>
                <div class="required12"><div class="text47">*</div></div>
              </div>
              <div class="input20">
                <div class="input-base20">
                  <div class="placeholder26">
                    <div class="input-prefix13">
                      <div class="icon-wrapper67">
                        <div class="width-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <div class="icon-wrapper-h38">
                          <div class="height-change-size-here38">
                            <div class="ignore182"></div>
                            <div class="ignore182"></div>
                          </div>
                          <img
                            class="icon-wrapper68"
                            alt=""
                            src="{% static 'css/public/iconwrapper38.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="text47">Enter your phone number</div>
                  </div>
                  <div class="spacer13">
                    <div class="ignore182"></div>
                    <div class="ignore182"></div>
                  </div>
                  <div class="input-prefix13">
                    <div class="icon-wrapper67">
                      <div class="width-change-size-here38">
                        <div class="ignore182"></div>
                        <div class="ignore182"></div>
                      </div>
                      <div class="icon-wrapper-h38">
                        <div class="height-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <img
                          class="icon-wrapper68"
                          alt=""
                          src="{% static 'css/public/iconwrapper55.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-addon-right1">
                  <div class="icon-wrapper67">
                    <div class="width-change-size-here56">
                      <div class="ignore182"></div>
                      <div class="ignore182"></div>
                    </div>
                    <div class="icon-wrapper-h38">
                      <div class="height-change-size-here56">
                        <div class="ignore182"></div>
                        <div class="ignore182"></div>
                      </div>
                      <img
                        class="icon-wrapper68"
                        alt=""
                        src="{% static 'css/public/iconwrapper56.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row1">
            <div class="title15">
              <div class="text47">Already have an account?</div>
            </div>
            <div class="texttext5"><div class="text66">Log in</div></div>
          </div>
        </div>
        <div class="actions1">
          <div class="button4">
            <div class="icon6">
              <div class="width-change-size-here56">
                <div class="ignore182"></div>
                <div class="ignore182"></div>
              </div>
              <div class="icon-wrapper-h38">
                <div class="height-change-size-here56">
                  <div class="ignore182"></div>
                  <div class="ignore182"></div>
                </div>
                <img
                  class="icon-wrapper68"
                  alt=""
                  src="{% static 'css/public/iconwrapper57.svg' %}"
                />
              </div>
            </div>
            <div class="title15"><div class="text47">Get started</div></div>
            <div class="icon6">
              <div class="width-change-size-here56">
                <div class="ignore182"></div>
                <div class="ignore182"></div>
              </div>
              <div class="icon-wrapper-h38">
                <div class="height-change-size-here56">
                  <div class="ignore182"></div>
                  <div class="ignore182"></div>
                </div>
                <img
                  class="icon-wrapper68"
                  alt=""
                  src="{% static 'css/public/iconwrapper58.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="header2"></div>
        <div class="heading2">
          <div class="wrapper3">
            <div class="text69">Create an account</div>
          </div>
          <div class="subtitle2">
            <div class="text47">Start your journey!</div>
          </div>
        </div>
        <div class="button-group1">
          <div class="button5">
            <div class="icon6">
              <div class="width-change-size-here56">
                <div class="ignore182"></div>
                <div class="ignore182"></div>
              </div>
              <div class="icon-wrapper-h38">
                <div class="height-change-size-here56">
                  <div class="ignore182"></div>
                  <div class="ignore182"></div>
                </div>
                <img
                  class="icon-wrapper68"
                  alt=""
                  src="{% static 'css/public/iconwrapper59.svg' %}"
                />
              </div>
            </div>
            <div class="title15"><div class="text47">Contractor</div></div>
            <div class="icon6">
              <div class="width-change-size-here56">
                <div class="ignore182"></div>
                <div class="ignore182"></div>
              </div>
              <div class="icon-wrapper-h38">
                <div class="height-change-size-here56">
                  <div class="ignore182"></div>
                  <div class="ignore182"></div>
                </div>
                <img
                  class="icon-wrapper68"
                  alt=""
                  src="{% static 'css/public/iconwrapper60.svg' %}"
                />
              </div>
            </div>
          </div>
          <div class="button6">
            <div class="icon6">
              <div class="width-change-size-here56">
                <div class="ignore182"></div>
                <div class="ignore182"></div>
              </div>
              <div class="icon-wrapper-h38">
                <div class="height-change-size-here56">
                  <div class="ignore182"></div>
                  <div class="ignore182"></div>
                </div>
                <img
                  class="icon-wrapper68"
                  alt=""
                  src="{% static 'css/public/iconwrapper61.svg' %}"
                />
              </div>
            </div>
            <div class="title15"><div class="text47">Employee</div></div>
            <div class="icon6">
              <div class="width-change-size-here56">
                <div class="ignore182"></div>
                <div class="ignore182"></div>
              </div>
              <div class="icon-wrapper-h38">
                <div class="height-change-size-here56">
                  <div class="ignore182"></div>
                  <div class="ignore182"></div>
                </div>
                <img
                  class="icon-wrapper68"
                  alt=""
                  src="{% static 'css/public/iconwrapper62.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form-item21">
          <div class="label12">
            <div class="title15">
              <div class="text47">Confirm Password</div>
            </div>
            <div class="required12"><div class="text47">*</div></div>
          </div>
          <div class="password5">
            <div class="input14">
              <div class="input-base12">
                <div class="placeholder26">
                  <div class="input-prefix13">
                    <div class="icon-wrapper67">
                      <div class="width-change-size-here38">
                        <div class="ignore182"></div>
                        <div class="ignore182"></div>
                      </div>
                      <div class="icon-wrapper-h38">
                        <div class="height-change-size-here38">
                          <div class="ignore182"></div>
                          <div class="ignore182"></div>
                        </div>
                        <img
                          class="icon-wrapper68"
                          alt=""
                          src="{% static 'css/public/iconwrapper38.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="text47">Password</div>
                </div>
                <div class="spacer15">
                  <div class="ignore182"></div>
                  <div class="ignore182"></div>
                </div>
                <div class="input-suffix15">
                  <div class="icon-wrapper67">
                    <div class="width-change-size-here38">
                      <div class="ignore182"></div>
                      <div class="ignore182"></div>
                    </div>
                    <div class="icon-wrapper-h38">
                      <div class="height-change-size-here38">
                        <div class="ignore182"></div>
                        <div class="ignore182"></div>
                      </div>
                      <img
                        class="icon-wrapper68"
                        alt=""
                        src="{% static 'css/public/iconwrapper64.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-number1">
          <div class="input-addon-left1">
            <div class="title15"><div class="text47">+966</div></div>
          </div>
          <div class="input-number-base1">
            <div class="placeholder46">
              <div class="input-prefix13">
                <div class="icon-wrapper67">
                  <div class="width-change-size-here38">
                    <div class="ignore182"></div>
                    <div class="ignore182"></div>
                  </div>
                  <div class="icon-wrapper-h38">
                    <div class="height-change-size-here38">
                      <div class="ignore182"></div>
                      <div class="ignore182"></div>
                    </div>
                    <img
                      class="icon-wrapper68"
                      alt=""
                      src="{% static 'css/public/iconwrapper65.svg' %}"
                    />
                  </div>
                </div>
              </div>
              <div class="text47">Phone Number</div>
            </div>
            <div class="spacer23">
              <div class="ignore182"></div>
              <div class="ignore182"></div>
            </div>
            <div class="input-prefix13">
              <div class="icon-wrapper67">
                <div class="width-change-size-here38">
                  <div class="ignore182"></div>
                  <div class="ignore182"></div>
                </div>
                <div class="icon-wrapper-h38">
                  <div class="height-change-size-here38">
                    <div class="ignore182"></div>
                    <div class="ignore182"></div>
                  </div>
                  <img
                    class="icon-wrapper68"
                    alt=""
                    src="{% static 'css/public/iconwrapper66.svg' %}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="image-1-icon3" alt="" src="{% static 'css/public/image-1@2x.png' %}" />
    </div>
  </body>
</html>
